footer{
    width: 100%;
    background-color: #191925;
    color: #fff;
    padding: 2px;
    margin-top: 60px;
    line-height: 0.8;
    @media all and (max-width: 414px){
        height: 150px;         
    }
    p{
        letter-spacing: 1.5px;
        font-size: 14px;
        text-align: center;
        margin: 10px 15px;
        line-height: 1.4;
        a{
            color: #fff;
            text-decoration: none;
        }
        @media all and (max-width: 414px){
            font-size: 13px;             
        }
        &:nth-child(1){
            margin: 20px 0;
        }
        &:nth-child(2), &:nth-child(3){
            font-size: 10px;
            color: #ccccccd1;
        }
    }
}