.lightbox-bg{
    background-color: #00000070;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
    cursor: pointer;
}
#container {
    display: none;
    margin: 100px auto;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			    0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
    min-height: 480px;
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1001;
    transform: translateX(-50%);
    .close{
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 1002;
        color: #fff;
        font-size: 35px;
        transition: all 0.2s;
        &:hover{
            opacity: 70%;
            cursor: pointer;
            transition: all 0.2s;
        }
    }
    &.right-panel-active{
        .close{
            position: absolute;
            top: 10px;
            right: 20px;
            z-index: 1002;
            color: #c3c3c3;;
            font-size: 35px;
            transition: all 0.2s;
            &:hover{
                opacity: 70%;
                cursor: pointer;
                transition: all 0.2s;
            }
        }
        .form-container{
            &.sign-in-container {
                transform: translateX(100%);
            }
            &.sign-up-container {
                transform: translateX(100%);
                opacity: 1;
                z-index: 5;
                animation: show 0.6s;
            }
        }
        .overlay-container{
            transform: translateX(-100%);
            .overlay {
                  transform: translateX(50%);
                  .overlay-panel{
                      &.overlay-left {
                          transform: translateX(0);
                      }
                      &.overlay-right {
                          transform: translateX(20%);
                      }
                  }
            }
        }
    }
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
        &.sign-up-container {
            left: 0;
            width: 50%;
            opacity: 0;
            z-index: 1;
            form{
                position: relative;
                .notice{
                    width: 160px;
                    height: 20px;
                    text-align: right;
                    padding: 10px;
                    padding-right: 15px;
                    line-height: 1.3;
                    border-radius: 3px;
                    position: absolute;
                    top: 0;
                    right: 20px;
                    color: #f57c35;
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    pointer-events: none;
                    .fas{
                        color: #f57c35;
                        margin-right: 10px;
                    }
                }
            }
        }
        &.sign-in-container {
            left: 0;
            width: 50%;
            z-index: 2;
            form{
                #forgetPsw {
                    transition: .3s;
                    padding: 5px 0;
                    &:hover {
                        cursor: pointer;
                        color: #F43752;
                    }
                }
                .notice{
                    width: 160px;
                    height: 20px;
                    text-align: right;
                    padding: 10px;
                    padding-right: 15px;
                    line-height: 1.3;
                    border-radius: 3px;
                    position: absolute;
                    top: 0;
                    right: 20px;
                    color: #f57c35;
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    pointer-events: none;
                    .fas{
                        color: #f57c35;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
        .overlay {
            background: #5f2c82;
            background: -webkit-linear-gradient(to right,#49a09d , #5f2c82);
            background: linear-gradient(to right,#49a09d , #5f2c82);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 0 0;
            color: #FFFFFF;
            position: relative;
            left: -100%;
            height: 100%;
            width: 200%;
            transform: translateX(0);
            transition: transform 0.6s ease-in-out;
            .overlay-panel {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                top: 0;
                height: 100%;
                width: 50%;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out;
                &.overlay-left {
                    transform: translateX(-20%);
                }
                &.overlay-right {
                    right: 0;
                    transform: translateX(0);
                }
            }
        }
    }
    h2 {
        font-size: 24px;
        font-weight: 600;
        margin: 10px;
        color: #545454;
    }
    input[type="button"] {
        width: 130px;
        border-radius: 20px;
        border: 1px solid #6287C0;
        background-color: #6287C0;
        color: #FFFFFF;
        margin-top: 10px;
        font-size: 16px;
        padding: 10px 45px;
        letter-spacing: 1px;
        transition: transform 80ms ease-in;
        &:active {
            transform: scale(0.95);
        }
        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    button {
        width: 130px;
        border-radius: 20px;
        border: 1px solid #6287C0;
        background-color: #6287C0;
        color: #FFFFFF;
        margin-top: 10px;
        font-size: 16px;
        padding: 10px 45px;
        letter-spacing: 1px;
        transition: transform 80ms ease-in;
        &.check{
            background-color: transparent;
            border-color: #FFFFFF;
        }
        &:active{
            transform: scale(0.95);
        }
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: none;
        }
    }
    form {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }
    input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
        border-radius: 3px;
        &:focus {
            outline-color: #BDBDBD;
        }
    }
}
/* ------------ RWD  ------------ */ 
@media screen and (max-width: 575px){
	#container{
		width: 350px;
		min-height: 320px;
        form {
            padding: 0 20px;
        }
        h2 {
            font-size: 18px;
        }
        #forgetPsw {
            font-size: 12px;
        }
        input {
            padding: 5px;
            margin: 5px 0;
            width: 100%;
            font-size: 12px;
        }
        input[type="button"] {
            margin-top: 10px;
            font-size: 14px;
            padding: 5px 25px;
            letter-spacing: 0px;
        }
        // .overlay-panel{
        //     padding: 0 20px;
        // }
	}
}
@media (min-width: 576px) and (max-width: 767px){
	#container{
		width: 550px;
		min-height: 360px;
        form {
            padding: 0 30px;
        }
        h2 {
            font-size: 20px;
        }
        #forgetPsw {
            font-size: 12px;
        }
        input {
            padding: 5px;
            margin: 5px 0;
            width: 100%;
            font-size: 12px;
        }
        input[type="button"] {
            margin-top: 10px;
            font-size: 14px;
            padding: 8px 30px;
            letter-spacing: 1px;
        }
        // .overlay-panel{
        //     padding: 0 30px;
        // }
	}
}
  
@media (min-width: 768px) and (max-width: 991px){
    #container{
		width: 700px;
		min-height: 450px;
        form {
            padding: 0 40px;
        }
        // .overlay-panel{
        //     padding: 0 40px;
        // }
	}
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}