<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/course.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="shortcut icon" href="img/favicon-logo.ico" type="image/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="./js/course/course.js"></script>
    <title>課程總覽</title>
</head>

<body>
    <header>
        <nav>
            <div class="menu_toggle">
                <input type="checkbox">
                <div class="logo">
                    <a href="main.html"><img src="./img/logo.png"></a>
                </div>
                <ul class="nav">
                    <li><a class="active" href="course.html">課程總覽</a></li>
                    <li><a href="teacher.html">教師總覽</a></li>
                    <li>
                        <a href="main.html"><img src="./img/logo.png"></a>
                    </li>
                    <li><a href="mall.html">商城</a></li>
                    <li><a href="game.html">小遊戲</a></li>
                </ul>
                <div class="ham">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <ul class="nav-right">
                    <li>
                        <a href="member.html">
                            <!-- <a :href="'member.html?memberNo=' + this.memData.memberNo"> -->
                            <i id="memIcon" class="fas fa-user-circle fa-lg"></i>
                            <div id="memInfo">
                                <div id="avatar">
                                    <img :src="this.memData.memAvatar" alt="">
                                </div>
                                <!-- <span>{{this.memData.memName}}</span> -->
                            </div>
                        </a>
                        <span id="logout"></span>
                    </li>
                    <li id="cartlink">
                        <a href="cart.html"><i class="fas fa-shopping-cart fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <!-- 登入註冊燈箱 -->
    <div class="lightbox-bg"></div>
    <div class="container" id="container">
        <span class="close"><i class="fas fa-times fa-xs"></i></span>
        <!-- 註冊 -->
        <div class="form-container sign-up-container">
            <form id="signUpForm">
                <h2>會員註冊</h2>
                <input type="text" id="signUpName" placeholder="輸入姓名" />
                <input type="email" id="sigUpEmail" placeholder="輸入email" />
                <input type="text" id="signUpId" placeholder="輸入帳號" />
                <input type="password" id="signUpPsw" placeholder="輸入密碼(至少含各一位英數字)" />
                <input type="password" id="checkPsw" placeholder="確認密碼" name="checkPsw">
                <input type="button" id="signUpSubmit" value="註冊">

                <div class="notice"></div>
                <div class="notice"></div>
                <div class="notice"></div>
                <div class="notice"></div>
                <div class="notice"></div>
            </form>
        </div>
        <!-- 登入 -->
        <div class="form-container sign-in-container">
            <form id="signInForm">
                <h2>會員登入</h2>
                <input type="text" name="memId" id="memId" placeholder="輸入帳號" />
                <input type="password" name="memPsw" id="memPsw" placeholder="輸入密碼" />
                <span id="forgetPsw">忘記密碼?</span>
                <input type="button" id="signInSubmit" value="登入">

                <div class="notice"></div>
                <div class="notice"></div>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <button type="button" class="check" id="signIn">登入</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <button type="button" class="check" id="signUp">註冊</button>
                </div>
            </div>
        </div>
    </div>



    <main class="main app">
        <my-count></my-count>
        <div class="course_filter">
            <img class="img_bat" src="./img/course_cards/bat.png" alt="">
            <div class="filter_container">
                <div class="course_class">
                    <h3>依照屬性篩選</h3>
                    <div class="fliter_block">

                        <label class="radio" for="allCourse">
                            <input type="radio" id="allCourse" :value="courTypeName.allCourse_show" v-model='filterText'
                                name="typeFilter" @change='filterData'>
                            {{courTypeName.allCourse_show}}
                        </label>
                        <!-- <h4 class="courseType" value="輔助型" :id="輔助型" @click='turnAll'>全部商品</h4> -->
                        <label class="radio" for="atk">
                            <input type="radio" id="atk" v-bind:value="courTypeName.atk" v-model='filterText'
                                name="typeFilter" @change='filterData'>
                            {{courTypeName.atk}}
                        </label>
                        <label class="radio" for="def">
                            <input type="radio" id="def" v-bind:value="courTypeName.def" v-model='filterText'
                                name="typeFilter" @change='filterData'>
                            {{courTypeName.def}}
                        </label>
                        <label class="radio" for="sup">
                            <input type="radio" id="sup" v-bind:value="courTypeName.sup" v-model='filterText'
                                name="typeFilter" @change='filterData'>
                            {{courTypeName.sup}}
                        </label>
                        <button class="cleanType" @click='cleanType'>清除選項</button>
                    </div>
                </div>


                <div class="course_price">
                    <h3>依照價位篩選</h3>
                    <div class="fliter_block">
                        <label class="radio" for="5000down">
                            <input type="radio" id="5000down" :value="priceType.sPrice" v-model='priceText'
                                name="priceFilter" @change='filterData'>
                            {{priceType.sPrice}}

                        </label>
                        <!-- <h4 class="courseType" value="輔助型" :id="輔助型" @click='turnAll'>全部商品</h4> -->

                        <label class="radio" for="10000down"> <input type="radio" id="10000down"
                                v-bind:value="priceType.mPrice" v-model='priceText' name="priceFilter"
                                @change='filterData'>
                            {{priceType.mPrice}}
                        </label>


                        <label class="radio" for="10000up">
                            <input type="radio" id="10000up" v-bind:value="priceType.lPrice" v-model='priceText'
                                name="priceFilter" @change='filterData'>
                            {{priceType.lPrice}}
                        </label>
                        <button class="cleanPrice" @click='cleanPrice'>清除選項</button>

                    </div>
                </div>
            </div>
        </div>


        <!-- 一開始全部商品的畫面 -->
        <div class="all_course_card" id="course_block" v-show='filterPage1'>
            <div class="card" v-for='classRow in classRows' ontouchstart="this.classList.toggle('hover');">
                <p class="course_title">{{classRow.courseName}}</p>

                <div class="container">
                    <div class="front">
                        <img :src=classRow.courseImg alt="">
                        <div class="inner">

                        </div>
                    </div>
                    <a :href="'./singleCourse.php?courseNo='+classRow.courseNo" target="_parent" alt="">
                        <div class="back">

                            <img src="./img/course_cards/card_back.png" alt="">
                            <div class="inner">
                                <p class="course_price">{{classRow.coursePrice}}</p>
                                <p class="course_class">屬性：{{classRow.courTypeName}}</p>
                                <p class="course_endDate">報名截止日期:{{classRow.endDate}}</p>
                    </a>


                    <p class="registration"
                        @click='classJump(classRow.courseName,classRow.coursePrice,classRow.classNo)'>
                        立即報名
                    </p>

                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- 一開始全部商品的畫面 -->


        <!-- 開始篩選類型的畫面 -->
        <div class="all_course_card" id="course_block" v-show='filterPage2'>
            <div class="card" v-for='(classRow,index) in filterArray' ontouchstart="this.classList.toggle('hover');">
                <p class="course_title">{{classRow.courseName}}</p>
                <!-- <div class="center-content">
                    <div class="heart" ref='ing' :id=classRow.courseNo @click="changeHeart($event)">
                        <div class="heart-inner" @click='addFavourite' :id='classRow.courseNo'></div>
                    </div>
                </div> -->

                <div class="container">
                    <div class="front">
                        <img :src=classRow.courseImg alt="">
                        <div class="inner">

                        </div>
                    </div>
                    <a :href="'singleCourse.php?courseNo='+classRow.courseNo" target="_parent" alt="">
                        <div class="back">

                            <img src="./img/course_cards/card_back.png" alt="">
                            <div class="inner">
                                <p class="course_price">{{classRow.coursePrice}}</p>
                                <p class="course_class">屬性：{{classRow.courTypeName}}</p>
                                <p class="course_endDate">報名截止日期:{{classRow.endDate}}</p>

                    </a>
                    <p class="registration"
                        @click='classJump(classRow.courseName,classRow.coursePrice,classRow.classNo)'>
                        立即報名
                    </p>

                </div>
            </div>

        </div>
        </div>
        </div>
        <!-- 開始篩選類型的畫面 -->



        <div class="course_accessory">
            <p>你可能需要的道具</p>
            <div class="titleimg_block">
                <img class="white_title" src="./img/course_cards/title-white-line.png" alt="">
            </div>

            <div class="accessory_container">
                <div class="sliderboard">
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p1.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p2.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p3.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p4.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p5.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p6.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p7.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p8.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p9.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p10.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p11.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p12.png" alt="">
                        </a>
                    </div>
                    <div class="single_accessory">
                        <a href="mall.html">
                            <img src="./img/course_cards/accessory/p13.png" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </div>


    </main>

    <footer>
        <p>
            copyright©2021 CED101G3 麻瓜特訓班.All Rights Reserved
        </p>
        <p>
            本網站為緯育TibaMe_前端設計工程師班第63期學員專題成果作品 -
            <a href="resource.html">參考資源</a>
        </p>
        <p>
            <a href="https://tibamef2e.com"></a>
            為緯育TibaMe提供給[Web/APP前端設計工程師養成班]學員展示作品之平台，若有侵權疑慮，請私訊<a
                href="https://www.facebook.com/webindex/">［TibaMe-前端設計工程師養成班］</a>
        </p>
    </footer>

    <script src="js/login.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>




    <script>
        let storage = sessionStorage;

        let app = new Vue({
            el: '.app',
            data: {
                classRows: [],
                lovedCourse: [],
                filterArray: [],
                // filterPriceArray: [],
                // lovedCourseArray: [],
                filterText: '',
                filterPage1: true,
                filterPage2: false,

                courTypeName: {
                    allCourse_show: '全部商品',
                    atk: '攻擊型',
                    def: '防禦型',
                    sup: '輔助型',
                },
                priceText: '',
                priceType: {
                    sPrice: '5000以下',
                    mPrice: '5000~10000',
                    lPrice: '10000以上',
                },
            },

            methods: {
                classJump(name, Price, classNo) {
                    if (memNavInfo.memData.memberNo) {  // 如果有登入會員
                        window.location.href = './registration.html';
                        storage['className'] = name;
                        storage['classPrice'] = Price;
                        storage['classNo'] = classNo;
                    } else {
                        // 如果未登入，跳出提示燈箱
                        alert('請登入會員');
                    }

                },
                cleanPrice() {
                    this.priceText = '';

                    this.filterData();
                    if (this.filterText == '' && this.priceText == '') {
                        this.filterPage1 = true
                        this.filterPage2 = false
                    }

                },
                cleanType() {
                    this.filterText = '';
                    this.filterData();
                    if (this.filterText == '' && this.priceText == '') {
                        this.filterPage1 = true
                        this.filterPage2 = false
                        // return false
                    }
                },
                filterData() {
                    this.filterPage2 = true;
                    this.filterPage1 = false;

                    if (this.filterText == this.courTypeName.atk) {
                        this.filterArray = this.classRows.filter(classRow => {
                            return classRow.courTypeName.match(this.filterText);
                        });
                        if (this.priceText == this.priceType.sPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && classRow.coursePrice < parseInt(this.priceType.sPrice);
                            });
                        }

                        if (this.priceText == this.priceType.mPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && parseInt(this.priceType.sPrice) < classRow.coursePrice && classRow.coursePrice < parseInt(this.priceType.lPrice);
                            });
                        }

                        if (this.priceText == this.priceType.lPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && classRow.coursePrice > parseInt(this.priceType.lPrice);
                            });
                        }
                        if (this.filterArray.length == 0) {
                            alert('很抱歉,沒有項目符合篩選結果:(')
                        }

                    }

                    if (this.filterText == this.courTypeName.def) {
                        this.filterArray = this.classRows.filter(classRow => {
                            return classRow.courTypeName.match(this.filterText);
                        });
                        if (this.priceText == this.priceType.sPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && classRow.coursePrice < parseInt(this.priceType.sPrice);
                            });
                        }

                        if (this.priceText == this.priceType.mPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && parseInt(this.priceType.sPrice) < classRow.coursePrice && classRow.coursePrice < parseInt(this.priceType.lPrice);
                            });
                        }

                        if (this.priceText == this.priceType.lPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && classRow.coursePrice > parseInt(this.priceType.lPrice);
                            });
                        }
                        if (this.filterArray.length == 0) {
                            alert('很抱歉,沒有項目符合篩選結果:(')
                        }

                    }
                    if (this.filterText == this.courTypeName.sup) {
                        this.filterArray = this.classRows.filter(classRow => {
                            return classRow.courTypeName.match(this.filterText);
                        });
                        if (this.priceText == this.priceType.sPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && classRow.coursePrice < parseInt(this.priceType.sPrice);
                            });
                        }

                        if (this.priceText == this.priceType.mPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && parseInt(this.priceType.sPrice) < classRow.coursePrice && classRow.coursePrice < parseInt(this.priceType.lPrice);
                            });
                        }

                        if (this.priceText == this.priceType.lPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName.match(this.filterText) && classRow.coursePrice > parseInt(this.priceType.lPrice);
                            });
                        }
                        if (this.filterArray.length == 0) {
                            alert('很抱歉,沒有項目符合篩選結果:(')
                        }
                    }
                    if (this.filterText == this.courTypeName.allCourse_show) {
                        this.filterArray = this.classRows.filter(classRow => {
                            return classRow.courTypeName;
                        });
                        if (this.priceText == this.priceType.sPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName && classRow.coursePrice < parseInt(this.priceType.sPrice);
                            });
                        } else if (this.priceText == this.priceType.mPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName && parseInt(this.priceType.sPrice) < classRow.coursePrice && classRow.coursePrice < parseInt(this.priceType.lPrice);
                            });
                        } else if (this.priceText == this.priceType.lPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName && classRow.coursePrice > parseInt(this.priceType.lPrice);
                            });
                        } else if (this.filterArray.length == 0) {
                            alert('很抱歉,沒有項目符合篩選結果:(')
                        }

                    }

                    if (this.filterText == '') {
                        if (this.priceText == this.priceType.sPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName && classRow.coursePrice < parseInt(this.priceType.sPrice);
                            });
                        } else if (this.priceText == this.priceType.mPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName && parseInt(this.priceType.sPrice) < classRow.coursePrice && classRow.coursePrice < parseInt(this.priceType.lPrice);
                            });
                        } else if (this.priceText == this.priceType.lPrice) {
                            this.filterArray = this.classRows.filter(classRow => {
                                return classRow.courTypeName && classRow.coursePrice > parseInt(this.priceType.lPrice);
                            });
                        }
                    }
                },
            },
            computed: {

            },
        })
    </script>

    <script>
        window.addEventListener('scroll', function () {
            let getScrollTop = document.documentElement.scrollTop;
            let header = document.querySelector('header');
            let carticon = document.querySelector('.num_icon');
            if (getScrollTop > 60) {
                header.classList.add('-active');
                carticon.classList.add('-icon');
            } else {
                header.classList.remove('-active');
                carticon.classList.remove('-icon');
            }
        });

        let memNavInfo = new Vue({
            el: '#memInfo',
            data: {
                memData: {},
            },
        })
    </script>

</body>

</html>