<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>麻瓜特訓班 | 單一教師</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/singleTeacher.css">
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- vueJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <!-- vue-star-rating js -->
    <script src="https://unpkg.com/vue-star-rating/dist/VueStarRating.umd.min.js"></script>
   
</head>
<body>
    <header>
        <nav>
            <div class="menu_toggle">
                <input type="checkbox">
                <div class="logo">
                    <a href="index.html"><img src="./img/logo.png"></a>
                </div>
                <ul class="nav">
                    <li><a href="course.html">課程總覽</a></li>
                    <li class="active"><a href="teacher.html">教師總覽</a></li>
                    <li>
                        <a href="index.html"><img src="./img/logo.png"></a>
                    </li>
                    <li><a href="mall.html">商城</a></li>
                    <li><a href="game.html">小遊戲</a></li>
                </ul>
                <div class="ham">
                    <span></span> 
                    <span></span> 
                    <span></span>
                </div>
                <ul class="nav-right">
                    <li><a href="member.html"><i class="fas fa-user-circle fa-lg"></i></a></li>
                    <li><a href="cart.html"><i class="fas fa-shopping-cart fa-lg"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="bg">
        <div class="section01">
            <div class="container" v-for="teacher in dataRows[0]"> 
                <div class="tr">
                    <div class="img">
                        <div class="shadow"></div>
                        <img :src="'img/teacher/' + teacher.teachImg" alt="">
                    </div>
                </div>
                <div class="wrapper" >
                    <div class="intro">
                        <h3>{{teacher.teachName}}</h3>
                        <div class="star" data-percent="50"></div>
                        <p>
                            {{teacher.teachDescription}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section02">
            <div class="title">
                <h2>所授課程</h2>
            </div>
            <div class="wrapper">
                <a href="./singleCourse.html">
                    <div class="card card01">
                        <div class="title">
                            <h3>飛行術</h3>
                        </div>
                        <div class="info">
                            <p>屬性: 魔法型</p>
                            <p>價錢: $12800</p>
                        </div>
                        <img src="./img/course_cards/card_back.png" alt="">
                        <div class="shadow"></div>
                    </div>
                </a>
                <a href="./singleCourse.html">
                    <div class="card card02">
                        <div class="title">
                            <h3>煉金術</h3>
                        </div>
                        <div class="info">
                            <p>屬性: 魔法型</p>
                            <p>價錢: $12800</p>
                        </div>
                        <img src="./img/course_cards/card_back.png" alt="">
                        <div class="shadow"></div>
                    </div>
                </a>
                <a href="./singleCourse.html">
                    <div class="card card03">
                        <div class="title">
                            <h3>魔藥學</h3>
                        </div>
                        <div class="info">
                            <p>屬性: 魔法型</p>
                            <p>價錢: $12800</p>
                        </div>
                        <img src="./img/course_cards/card_back.png" alt="">
                        <div class="shadow"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="section03">
            <div class="title">
                <h2>教師評論</h2>
            </div>
            <!-- 評論評分+檢舉燈箱開始 -->
            <comment-component v-for="(comment, i) in dataRows[1]"
                               :key="comment.registNo"
                               :mem-avatar="comment.memAvatar"
                               :mem-name="comment.memName"
                               :comm-star="comment.commStar"
                               :comm-content="comment.commContent"
                               :regist-no="comment.registNo"
                               @show-box="showLightbox(i)"
                               @close-box="closeLightbox(i)"
                               @send-report="sendReport(i)">
                            </comment-component>
            <!-- 評論評分+檢舉燈箱結束 -->

            <!-- 顯示更多btn -->
            <div class="btn">
                <button class="btn-purple">查看更多</button>
            </div>
        </div>
    </div>

    <footer>
        <p>copyright©2020 CED101_G3 麻瓜特訓班.All Rights Reserved</p>
    </footer>

    <script src="./js/singleTeacher.js"></script>
</body>
</html>