<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>麻瓜特訓班 | 單一教師</title>
    <link rel="shortcut icon" href="img/favicon-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/singleTeacher.css">
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- vueJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
    <!-- vue-star-rating js -->
    <script src="https://unpkg.com/vue-star-rating/dist/VueStarRating.umd.min.js"></script>
    
    <!-- 購物車數字 -->
    <script src="./js/count_vue.js"></script>

</head>
<body>
    <header>
        <nav>
            <div class="menu_toggle">
                <input type="checkbox">
                <div class="logo">
                    <a href="index.html"><img src="./img/logo.png"></a>
                </div>
                <ul class="nav">
                    <li><a href="course.html">課程總覽</a></li>
                    <li><a class="active" href="teacher.html">教師總覽</a></li>
                    <li>
                        <a href="index.html"><img src="./img/logo.png"></a>
                    </li>
                    <li><a href="mall.html">商城</a></li>
                    <li><a href="game.html">小遊戲</a></li>
                </ul>
                <div class="ham">
                    <span></span> 
                    <span></span> 
                    <span></span>
                </div>
                <ul class="nav-right">
                    <li>
                        <a href="member.html">
                        <!-- <a :href="'member.html?memberNo=' + this.memData.memberNo"> -->
                            <i id="memIcon" class="fas fa-user-circle fa-lg"></i>
                            <div id="memInfo">
                                <div id="avatar">
                                    <img :src="'img/' + this.memData.memAvatar" alt="">
                                </div>
                            </div>
                        </a>
                        <span id="logout"></span>
                    </li>
                    <li id="cartlink">
                        <a href="cart.html"><i class="fas fa-shopping-cart fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- 登入註冊燈箱 -->
    <div class="lightbox-bg"></div>
    <div class="container" id="container">
        <span class="close"><i class="fas fa-times fa-xs"></i></span>
        <!-- 註冊 -->
        <div class="form-container sign-up-container">
            <form id="signUpForm">
                <h2>會員註冊</h2>
                <input type="text" id="signUpName" placeholder="輸入姓名" />
                <input type="email" id="sigUpEmail" placeholder="輸入email" />
                <input type="text" id="signUpId" placeholder="輸入帳號" />
                <input type="password" id="signUpPsw" placeholder="輸入密碼(至少含各一位英數字)" />
                <input type="password" id="checkPsw" placeholder="確認密碼" name="checkPsw">
                <input type="button" id="signUpSubmit" value="註冊">

                <div class="notice"></div>
                <div class="notice"></div>
                <div class="notice"></div>
                <div class="notice"></div>
                <div class="notice"></div>
            </form>
        </div>      
        <!-- 登入 -->
        <div class="form-container sign-in-container">
            <form id="signInForm">
                <h2>會員登入</h2>
                <input type="text" name="memId" id="memId" placeholder="輸入帳號" />
                <input type="password" name="memPsw" id="memPsw" placeholder="輸入密碼" />
                <span id="forgetPsw">忘記密碼?</span>
                <input type="button" id="signInSubmit" value="登入">
                
                <div class="notice"></div>
                <div class="notice"></div>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <button type="button" class="check" id="signIn">登入</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <button type="button" class="check" id="signUp">註冊</button>
                </div>
            </div>
        </div> 
    </div>

    <div class="bg">
        <!-- 購物車數字 -->
        <my-count></my-count>

        <div class="section01">
            <teacher-component :data-rows="dataRows[0]">
            </teacher-component>
        </div>
        <div class="section02">
            <div class="title">
                <h2>所授課程</h2>
            </div>
            <div class="wrapper">
                <course-component v-for="(course, i) in dataRows[1]"
                                  :key="course.courseNo"
                                  :course-no="course.courseNo"
                                  :course-name="course.courseName"
                                  :cour-type-name="course.courTypeName"
                                  :course-price="course.coursePrice">
                </course-component>
                <!-- <a href="./singleCourse.html">
                    <div class="card card01">
                        <div class="title">
                            <h3>飛行術</h3>
                        </div>
                        <div class="info">
                            <p>屬性: 魔法型</p>
                            <p>價錢: $12800</p>
                        </div>
                        <img src="./img/course_cards/card_back.png" alt="">
                        <div class="shadow"></div>
                    </div>
                </a>
                <a href="./singleCourse.html">
                    <div class="card card02">
                        <div class="title">
                            <h3>煉金術</h3>
                        </div>
                        <div class="info">
                            <p>屬性: 魔法型</p>
                            <p>價錢: $12800</p>
                        </div>
                        <img src="./img/course_cards/card_back.png" alt="">
                        <div class="shadow"></div>
                    </div>
                </a>
                <a href="./singleCourse.html">
                    <div class="card card03">
                        <div class="title">
                            <h3>魔藥學</h3>
                        </div>
                        <div class="info">
                            <p>屬性: 魔法型</p>
                            <p>價錢: $12800</p>
                        </div>
                        <img src="./img/course_cards/card_back.png" alt="">
                        <div class="shadow"></div>
                    </div>
                </a> -->
            </div>
        </div>
        <div class="section03">
            <div class="title">
                <h2>教師評論</h2>
            </div>
            <div class="wrapper">
                <!-- 評論評分+檢舉燈箱開始 -->
                <comment-component v-for="(comment, i) in dataRows[2]"
                                :key="comment.registNo"
                                :mem-avatar="comment.memAvatar"
                                :mem-name="comment.memName"
                                :comm-star="comment.commStar"
                                :comm-content="comment.commContent"
                                :regist-no="comment.registNo"
                                @show-box="showLightbox(i)"
                                @close-box="closeLightbox(i)"
                                @send-report="sendReport(i)">
                </comment-component>
                <!-- 評論評分+檢舉燈箱結束 -->
            </div>

            <!-- 顯示更多btn -->
            <!-- <div class="btn">
                <button class="btn-purple">查看更多</button>
            </div> -->
        </div>
    </div>

    <footer>
        <p>
            copyright©2021 CED101G3 麻瓜特訓班.All Rights Reserved
        </p>
        <p>
            本網站為緯育TibaMe_前端設計工程師班第63期學員專題成果作品 -
            <a href="">參考資源</a>
        </p>
        <p>
            <a href="https://tibamef2e.com"></a>
            為緯育TibaMe提供給[Web/APP前端設計工程師養成班]學員展示作品之平台，若有侵權疑慮，請私訊<a href="https://www.facebook.com/webindex/">［TibaMe-前端設計工程師養成班］</a>
        </p>
    </footer>

    <script src="./js/singleTeacher.js"></script>
    <script src="js/login.js"></script>        

    <script>
        // scroll更改header背景色
        window.addEventListener('scroll', function () {
            let getScrollTop = document.documentElement.scrollTop;
            let header = document.querySelector('header');
            let carticon = document.querySelector('.num_icon');
            if (getScrollTop > 60) {
                header.classList.add('-active');
                carticon.classList.add('-icon');
            } else {
                header.classList.remove('-active');
                carticon.classList.remove('-icon');
            }
        });
        
        // 專門給header接會員照片資料 | 判斷是否登入的new Vue
        // 必須給new Vue一個名稱(memNavInfo)，才能接到php回傳的會員資料
        let memNavInfo = new Vue({
            el: '#memInfo',
            data: {
                memData: {},
            },
        })
    </script>
</body>
</html>