<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>麻瓜特訓班 | 教師總覽</title>
        <link rel="shortcut icon" href="img/favicon-logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
              crossorigin="anonymous">
        <link rel="stylesheet" href="css/teacher.css">

        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- vueJs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js"></script>
        <!-- vue-star-rating js -->
        <script src="https://unpkg.com/vue-star-rating/dist/VueStarRating.umd.min.js"></script>

        <!-- fullpage.js -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/vendors/jquery.easings.min.jss"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/vendors/scrolloverflow.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script> -->
        <link
            rel="stylesheet"
            type="text/css"
            href="vendors/fullpage/fullpage.min.css"
        />
        <script src="vendors/fullpage/vue-fullpage.min.js"></script>

        <script src="./js/count_vue.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <div class="menu_toggle">
                    <input type="checkbox" />
                    <div class="logo">
                        <a href="index.html"><img src="./img/logo.png" /></a>
                    </div>
                    <ul class="nav">
                        <li><a href="course.html">課程總覽</a></li>
                        <li>
                            <a class="active" href="teacher.html">教師總覽</a>
                        </li>
                        <li>
                            <a href="index.html"
                                ><img src="./img/logo.png"
                            /></a>
                        </li>
                        <li><a href="mall.html">商城</a></li>
                        <li><a href="game.html">小遊戲</a></li>
                    </ul>
                    <div class="ham">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="nav-right">
                        <li>
                            <a href="member.html">
                                <!-- <a :href="'member.html?memberNo=' + this.memData.memberNo"> -->
                                <i
                                    id="memIcon"
                                    class="fas fa-user-circle fa-lg"
                                ></i>
                                <div id="memInfo">
                                    <div id="avatar">
                                        <img
                                            :src="'img/' + this.memData.memAvatar"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </a>
                            <span id="logout"></span>
                        </li>
                        <li id="cartlink">
                            <a href="cart.html"
                                ><i class="fas fa-shopping-cart fa-lg"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- 登入註冊燈箱 -->
        <div class="lightbox-bg"></div>
        <div class="container" id="container">
            <span class="close"><i class="fas fa-times fa-xs"></i></span>
            <!-- 註冊 -->
            <div class="form-container sign-up-container">
                <form id="signUpForm">
                    <h2>會員註冊</h2>
                    <input type="text" id="signUpName" placeholder="輸入姓名" />
                    <input
                        type="email"
                        id="sigUpEmail"
                        placeholder="輸入email"
                    />
                    <input type="text" id="signUpId" placeholder="輸入帳號" />
                    <input
                        type="password"
                        id="signUpPsw"
                        placeholder="輸入密碼(至少含各一位英數字)"
                    />
                    <input
                        type="password"
                        id="checkPsw"
                        placeholder="確認密碼"
                        name="checkPsw"
                    />
                    <input type="button" id="signUpSubmit" value="註冊" />

                    <div class="notice"></div>
                    <div class="notice"></div>
                    <div class="notice"></div>
                    <div class="notice"></div>
                    <div class="notice"></div>
                </form>
            </div>
            <!-- 登入 -->
            <div class="form-container sign-in-container">
                <form id="signInForm">
                    <h2>會員登入</h2>
                    <input
                        type="text"
                        name="memId"
                        id="memId"
                        placeholder="輸入帳號"
                    />
                    <input
                        type="password"
                        name="memPsw"
                        id="memPsw"
                        placeholder="輸入密碼"
                    />
                    <span id="forgetPsw">忘記密碼?</span>
                    <input type="button" id="signInSubmit" value="登入" />

                    <div class="notice"></div>
                    <div class="notice"></div>
                </form>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <button type="button" class="check" id="signIn">
                            登入
                        </button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <button type="button" class="check" id="signUp">
                            註冊
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="app" class="scrollPage">
            <!-- 購物車數字 -->
            <my-count></my-count>

            <!-- select選單 -->
            <div class="select">
                <select
                    onchange="location = this.options[this.selectedIndex].value;"
                >
                    <option value="#" disabled selected>選擇教師</option>
                    <option value="teacher.html#firstPage">
                        {{dataRows[0][0].teachName}}
                    </option>
                    <option value="teacher.html#secondPage">
                        {{dataRows[0][1].teachName}}
                    </option>
                    <option value="teacher.html#thirdPage">
                        {{dataRows[0][2].teachName}}
                    </option>
                    <option value="teacher.html#fourthPage">
                        {{dataRows[0][3].teachName}}
                    </option>
                    <option value="teacher.html#fifthPage">
                        {{dataRows[0][4].teachName}}
                    </option>
                    <option value="teacher.html#sixthPage">
                        {{dataRows[0][5].teachName}}
                    </option>
                </select>
            </div>

            <full-page ref="fullpage" :options="options" id="fullpage">
                <div class="section">
                    <div class="container">
                        <div class="tr">
                            <div class="img">
                                <div class="shadow"></div>
                                <img
                                    :src="'img/teacher/' + dataRows[0][0].teachImg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="intro">
                                <div class="title">
                                    <h3>{{dataRows[0][0].teachName}}</h3>
                                    <star-rating
                                        v-model="dataRows[0][0].commStarAvg"
                                        text-class="custom-text"
                                        :increment="0.1"
                                        :star-size="28"
                                        :glow="3"
                                        :padding="3"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                </div>
                                <p>{{dataRows[0][0].teachDescription}}</p>
                            </div>
                            <div class="comm_card">
                                <div class="card">
                                    <div class="avatar">
                                        <img
                                            :src="'img/teacher/' + dataRows[0][0].memAvatar"
                                            alt=""
                                            width="80px"
                                        />
                                    </div>
                                    <p>{{dataRows[0][0].memName}}</p>
                                </div>
                                <div class="comm">
                                    <star-rating
                                        v-model="dataRows[0][0].commStar"
                                        text-class="custom-text"
                                        :star-size="20"
                                        :glow="2"
                                        :padding="2"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                    <div class="text">
                                        {{dataRows[0][0].commContent}}
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <a
                                    :href="'singleTeacher.html?teachNo=' + dataRows[0][0].teachNo"
                                    >more →</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="container">
                        <div class="tr">
                            <div class="img">
                                <div class="shadow"></div>
                                <img
                                    :src="'img/teacher/' + dataRows[0][1].teachImg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="intro">
                                <div class="title">
                                    <h3>{{dataRows[0][1].teachName}}</h3>
                                    <star-rating
                                        v-model="dataRows[0][1].commStarAvg"
                                        text-class="custom-text"
                                        :increment="0.1"
                                        :star-size="28"
                                        :glow="3"
                                        :padding="3"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                </div>
                                <p>{{dataRows[0][1].teachDescription}}</p>
                            </div>
                            <div class="comm_card">
                                <div class="card">
                                    <div class="avatar">
                                        <img
                                            :src="'img/teacher/' + dataRows[0][1].memAvatar"
                                            alt=""
                                            width="80px"
                                        />
                                    </div>
                                    <p>{{dataRows[0][1].memName}}</p>
                                </div>
                                <div class="comm">
                                    <star-rating
                                        v-model="dataRows[0][1].commStar"
                                        text-class="custom-text"
                                        :star-size="20"
                                        :glow="2"
                                        :padding="2"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                    <div class="text">
                                        {{dataRows[0][1].commContent}}
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <a
                                    :href="'singleTeacher.html?teachNo=' + dataRows[0][1].teachNo"
                                    >more →</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="container">
                        <div class="tr">
                            <div class="img">
                                <div class="shadow"></div>
                                <img
                                    :src="'img/teacher/' + dataRows[0][2].teachImg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="intro">
                                <div class="title">
                                    <h3>{{dataRows[0][2].teachName}}</h3>
                                    <star-rating
                                        v-model="dataRows[0][2].commStarAvg"
                                        text-class="custom-text"
                                        :increment="0.1"
                                        :star-size="28"
                                        :glow="3"
                                        :padding="3"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                </div>
                                <p>{{dataRows[0][2].teachDescription}}</p>
                            </div>
                            <div class="comm_card">
                                <div class="card">
                                    <div class="avatar">
                                        <img
                                            :src="'img/teacher/' + dataRows[0][2].memAvatar"
                                            alt=""
                                            width="80px"
                                        />
                                    </div>
                                    <p>{{dataRows[0][2].memName}}</p>
                                </div>
                                <div class="comm">
                                    <star-rating
                                        v-model="dataRows[0][2].commStar"
                                        text-class="custom-text"
                                        :star-size="20"
                                        :glow="2"
                                        :padding="2"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                    <div class="text">
                                        {{dataRows[0][2].commContent}}
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <a
                                    :href="'singleTeacher.html?teachNo=' + dataRows[0][2].teachNo"
                                    >more →</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="container">
                        <div class="tr">
                            <div class="img">
                                <div class="shadow"></div>
                                <img
                                    :src="'img/teacher/' + dataRows[0][3].teachImg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="intro">
                                <div class="title">
                                    <h3>{{dataRows[0][3].teachName}}</h3>
                                    <star-rating
                                        v-model="dataRows[0][3].commStarAvg"
                                        text-class="custom-text"
                                        :increment="0.1"
                                        :star-size="28"
                                        :glow="3"
                                        :padding="3"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                </div>
                                <p>{{dataRows[0][3].teachDescription}}</p>
                            </div>
                            <div class="comm_card">
                                <div class="card">
                                    <div class="avatar">
                                        <img
                                            :src="'img/teacher/' + dataRows[0][3].memAvatar"
                                            alt=""
                                            width="80px"
                                        />
                                    </div>
                                    <p>{{dataRows[0][3].memName}}</p>
                                </div>
                                <div class="comm">
                                    <star-rating
                                        v-model="dataRows[0][3].commStar"
                                        text-class="custom-text"
                                        :star-size="20"
                                        :glow="2"
                                        :padding="2"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                    <div class="text">
                                        {{dataRows[0][3].commContent}}
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <a
                                    :href="'singleTeacher.html?teachNo=' + dataRows[0][3].teachNo"
                                    >more →</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="container">
                        <div class="tr">
                            <div class="img">
                                <div class="shadow"></div>
                                <img
                                    :src="'img/teacher/' + dataRows[0][4].teachImg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="intro">
                                <div class="title">
                                    <h3>{{dataRows[0][4].teachName}}</h3>
                                    <star-rating
                                        v-model="dataRows[0][4].commStarAvg"
                                        text-class="custom-text"
                                        :increment="0.1"
                                        :star-size="28"
                                        :glow="3"
                                        :padding="3"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                </div>
                                <p>{{dataRows[0][4].teachDescription}}</p>
                            </div>
                            <div class="comm_card">
                                <div class="card">
                                    <div class="avatar">
                                        <img
                                            :src="'img/teacher/' + dataRows[0][4].memAvatar"
                                            alt=""
                                            width="80px"
                                        />
                                    </div>
                                    <p>{{dataRows[0][4].memName}}</p>
                                </div>
                                <div class="comm">
                                    <star-rating
                                        v-model="dataRows[0][4].commStar"
                                        text-class="custom-text"
                                        :star-size="20"
                                        :glow="2"
                                        :padding="2"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                    <div class="text">
                                        {{dataRows[0][4].commContent}}
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <a
                                    :href="'singleTeacher.html?teachNo=' + dataRows[0][4].teachNo"
                                    >more →</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="container">
                        <div class="tr">
                            <div class="img">
                                <div class="shadow"></div>
                                <img
                                    :src="'img/teacher/' + dataRows[0][5].teachImg"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="intro">
                                <div class="title">
                                    <h3>{{dataRows[0][5].teachName}}</h3>
                                    <star-rating
                                        v-model="dataRows[0][5].commStarAvg"
                                        text-class="custom-text"
                                        :increment="0.1"
                                        :star-size="28"
                                        :glow="3"
                                        :padding="3"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                </div>
                                <p>{{dataRows[0][5].teachDescription}}</p>
                            </div>
                            <div class="comm_card">
                                <div class="card">
                                    <div class="avatar">
                                        <img
                                            :src="'img/teacher/' + dataRows[0][5].memAvatar"
                                            alt=""
                                            width="80px"
                                        />
                                    </div>
                                    <p>{{dataRows[0][5].memName}}</p>
                                </div>
                                <div class="comm">
                                    <star-rating
                                        v-model="dataRows[0][5].commStar"
                                        text-class="custom-text"
                                        :star-size="20"
                                        :glow="2"
                                        :padding="2"
                                        :read-only="true"
                                    >
                                    </star-rating>
                                    <div class="text">
                                        {{dataRows[0][5].commContent}}
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <a
                                    :href="'singleTeacher.html?teachNo=' + dataRows[0][5].teachNo"
                                    >more →</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <teacher-component v-for="(teacher, i) in dataRows[0]"
                               :teach-no="teacher.teachNo"
                               :teach-img="teacher.teachImg"
                               :teach-name="teacher.teachName"
                               :comm-star-avg="teacher.commStarAvg"
                               :teach-description="teacher.teachDescription"
                               :mem-avatar="teacher.memAvatar"
                               :mem-name="teacher.memName"
                               :comm-star="teacher.commStar"
                               :comm-content="teacher.commContent">
            </teacher-component>

            <div class="section">
                
            </div>
            <div class="section">
                <h3>Section 2</h3>
            </div>
            <div class="section">
                <h3>Section 3</h3>
            </div> -->
            </full-page>
        </div>

        <!-- <div id="scrollPage">
        <!-- 教師組件裡塞評論+星星組件 
        <!-- <teacher-component :teacher-rows="dataRows[0]"
                           :comment-rows="dataRows[1]">
        </teacher-component> -

		<!-- <div class="section section1">
            <div class="container">
                <div class="tr">
                    <div class="img">
                        <div class="shadow"></div>
                        <img src="img/teacher/tr01.png" alt="">
                    </div>
                </div>
                <div class="wrapper">
                    <div class="intro">  
                        <div class="title">
                            <h3>A老師</h3>
                            <div class="star" data-percent="80"></div>
                        </div>
                        <p>
                            鳳凰會時代，天狼星把波特夫婦藏身處守密人的重要任務，交付給佩迪魯的理由是食死人絕不會想到鳳凰會會把如此重要的任務交付給佩迪魯
                        </p>
                    </div>
                    <div class="comm_card">
                        <div class="card">
                            <div class="avatar">
                                <img src="img/teacher/bai.jpg" alt="" width="80px">
                            </div>
                            <p>挖洗白白</p>
                        </div>
                        <div class="comm">
                            <div class="star" data-percent="70"></div>
                            <div class="text">ㄎㄎㄎㄎㄎㄎㄎ</div>
                        </div>
                    </div>
                    <div class="more">
                        <a href="singleTeacher.html">more →</a>
                    </div>
                </div>
            </div>
        </div>
		<div class="section section2">
                <div class="container">
                    <div class="tr">
                        <div class="img">
                            <div class="shadow"></div>
                            <img src="img/teacher/tr02.png" alt="">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="intro">  
                            <div class="title">
                                <h3>B老師</h3>
                                <div class="star" data-percent="40"></div>
                            </div>
                            <p>
                                鳳凰會時代，天狼星把波特夫婦藏身處守密人的重要任務，交付給佩迪魯的理由是食死人絕不會想到鳳凰會會把如此重要的任務交付給佩迪魯
                            </p>
                        </div>
                        <div class="comm_card">
                            <div class="card">
                                <div class="avatar">
                                    <img src="img/teacher/bai.jpg" alt="" width="80px">
                                </div>
                                <p>挖洗白白</p>
                            </div>
                            <div class="comm">
                                <div class="star" data-percent="37"></div>
                                <div class="text">ㄎㄎㄎㄎㄎㄎㄎ</div>
                            </div>
                        </div>
                        <div class="more">
                            <a href="singleTeacher.html">more →</a>
                        </div>
                    </div>
                </div>
           
        </div>
		<div class="section section3">
            
                <div class="container">
                    <div class="tr">
                        <div class="img">
                            <div class="shadow"></div>
                            <img src="img/teacher/tr03.png" alt="">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="intro">  
                            <div class="title">
                                <h3>C老師</h3>
                                <div class="star" data-percent="90"></div>
                            </div>
                            <p>
                                鳳凰會時代，天狼星把波特夫婦藏身處守密人的重要任務，交付給佩迪魯的理由是食死人絕不會想到鳳凰會會把如此重要的任務交付給佩迪魯
                            </p>
                        </div>
                        <div class="comm_card">
                            <div class="card">
                                <div class="avatar">
                                    <img src="img/teacher/bai.jpg" alt="" width="80px">
                                </div>
                                <p>挖洗白白</p>
                            </div>
                            <div class="comm">
                                <div class="star" data-percent="37"></div>
                                <div class="text">ㄎㄎㄎㄎㄎㄎㄎ</div>
                            </div>
                        </div>
                        <div class="more">
                            <a href="singleTeacher.html">more →</a>
                        </div>
                    </div>
                </div>
            
        </div>
		<div class="section section4">
            
                <div class="container">
                    <div class="tr">
                        <div class="img">
                            <div class="shadow"></div>
                            <img src="img/teacher/tr04.png" alt="">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="intro">  
                            <div class="title">
                                <h3>D老師</h3>
                                <div class="star" data-percent="70"></div>
                            </div>
                            <p>
                                鳳凰會時代，天狼星把波特夫婦藏身處守密人的重要任務，交付給佩迪魯的理由是食死人絕不會想到鳳凰會會把如此重要的任務交付給佩迪魯
                            </p>
                        </div>
                        <div class="comm_card">
                            <div class="card">
                                <div class="avatar">
                                    <img src="img/teacher/bai.jpg" alt="" width="80px">
                                </div>
                                <p>挖洗白白</p>
                            </div>
                            <div class="comm">
                                <div class="star" data-percent="37"></div>
                                <div class="text">ㄎㄎㄎㄎㄎㄎㄎ</div>
                            </div>
                        </div>
                        <div class="more">
                            <a href="singleTeacher.html">more →</a>
                        </div>
                    </div>
                </div>
            
        </div>
		<div class="section section5">
                <div class="container">
                    <div class="tr">
                        <div class="img">
                            <div class="shadow"></div>
                            <img src="img/teacher/tr05.png" alt="">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="intro">  
                            <div class="title">
                                <h3>E老師</h3>
                                <div class="star" data-percent="80"></div>
                            </div>
                            <p>
                                鳳凰會時代，天狼星把波特夫婦藏身處守密人的重要任務，交付給佩迪魯的理由是食死人絕不會想到鳳凰會會把如此重要的任務交付給佩迪魯
                            </p>
                        </div>
                        <div class="comm_card">
                            <div class="card">
                                <div class="avatar">
                                    <img src="img/teacher/bai.jpg" alt="" width="80px">
                                </div>
                                <p>挖洗白白</p>
                            </div>
                            <div class="comm">
                                <div class="star" data-percent="37"></div>
                                <div class="text">ㄎㄎㄎㄎㄎㄎㄎ</div>
                            </div>
                        </div>
                        <div class="more">
                            <a href="singleTeacher.html">more →</a>
                        </div>
                    </div>
                </div>
            
        </div>
		<div class="section section6">
           
                <div class="container">
                    <div class="tr">
                        <div class="img">
                            <div class="shadow"></div>
                            <img src="img/teacher/tr06.png" alt="">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="intro">  
                            <div class="title">
                                <h3>F老師</h3>
                                <div class="star" data-percent="60"></div>
                            </div>
                            <p>
                                鳳凰會時代，天狼星把波特夫婦藏身處守密人的重要任務，交付給佩迪魯的理由是食死人絕不會想到鳳凰會會把如此重要的任務交付給佩迪魯
                            </p>
                        </div>
                        <div class="comm_card">
                            <div class="card">
                                <div class="avatar">
                                    <img src="img/teacher/bai.jpg" alt="" width="80px">
                                </div>
                                <p>挖洗白白</p>
                            </div>
                            <div class="comm">
                                <div class="star" data-percent="37"></div>
                                <div class="text">ㄎㄎㄎㄎㄎㄎㄎ</div>
                            </div>
                        </div>
                        <div class="more">
                            <a href="singleTeacher.html">more →</a>
                        </div>
                    </div>
                </div>
            
        </div> -
	</div> -->

        <footer>
            <p>copyright©2021 CED101G3 麻瓜特訓班.All Rights Reserved</p>
            <p>
                本網站為緯育TibaMe_前端設計工程師班第63期學員專題成果作品 -
                <a href="">參考資源</a>
            </p>
            <p>
                <a href="https://tibamef2e.com"></a>
                為緯育TibaMe提供給[Web/APP前端設計工程師養成班]學員展示作品之平台，若有侵權疑慮，請私訊<a
                    href="https://www.facebook.com/webindex/"
                    >［TibaMe-前端設計工程師養成班］</a
                >
            </p>
        </footer>

        <script src="js/teacher.js"></script>
        <script src="js/login.js"></script>

        <script>
            // scroll更改header背景色
            window.addEventListener('scroll', function () {
                let getScrollTop = document.documentElement.scrollTop;
                let header = document.querySelector('header');
                let carticon = document.querySelector('.num_icon');
                if (getScrollTop > 60) {
                    header.classList.add('-active');
                    carticon.classList.add('-icon');
                } else {
                    header.classList.remove('-active');
                    carticon.classList.remove('-icon');
                }
            });

            // 專門給header接會員照片資料 | 判斷是否登入的new Vue
            // 必須給new Vue一個名稱(memNavInfo)，才能接到php回傳的會員資料
            let memNavInfo = new Vue({
                el: '#memInfo',
                data: {
                    memData: {},
                },
            });
        </script>
    </body>
</html>
