* {
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

body{
    margin: 0;
}

/* ------------ header ------------ */ 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right,#5f2c82 , #49a09d);
}

.nav-left > img{
    width: 50%;
}

.nav-right{
    color: #ffff;
}

.nav-right > p{
    margin: 0;
}


button.hamburger{
    display: none;
}


/* ------------ 中間內容區塊 ------------ */ 
.content-wrap{
    width: 100%;
    display: flex;
    min-height: 100vh;
}
  

/* ------------ 左邊區塊 ------------ */   
ul.left-block{
    width: 15%;
    background-color: #F4F4F4;
    padding: 10px;
    margin: 0;
}

ul.left-block li{
    list-style: none;
    padding: 5px;
    background-color: #807EFB;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    transition: .3s;
}

ul.left-block li a{
    text-decoration: none;
    color: #ffff;
}

ul.left-block li:hover{
    background-color: #5E5DB9; 
}


/* ------------ 右邊區塊 ------------ */ 
.right-block{
    width: 85%;
    padding: 20px;
}

h2{
    color: #555555;
}

.form-wrap{
    padding: 10px;
    background-color:#D1BEE8;   
}

.content-list{
    border-radius: 10px;
    background-color: #F5EFFD;
    padding: 10px;
    display: flex;
    overflow: auto;
}

.form-list{
    width: 100%;
    overflow: auto;
}

th{
    padding: 5px;
}

td{
    padding: 10px;
    text-align: center;
}



/* ------------ footer ------------ */ 
footer{
    width: 100%;
    color: #ffff;
	margin: 0;
    background-color: #141414;
}

footer > p {
    font-size: 12px;
	text-align: center;
	padding: 8px 0px;
	margin: 0;
}


/* ------------ RWD ------------ */ 
@media screen and (max-width: 767px){
    .nav-left > img{
        width: 40%;
    }
}
  
@media screen and (min-width: 992px){
    ul.left-block{
      display: block !important;
    }
}
  
@media screen and (max-width: 991px){
    .content-wrap{
        flex-direction: column;
    }

    ul.left-block{
        display: none;
        width: 100%;
    }
 
    button.hamburger{
        display: inline-block;
    }

    .right-block{
        width: 100%;
    } 
}

