@charset "UTF-8";
* {
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

body {
    margin: 0;
}
h2 {
    color: #555555;
}

/* ------------ header ------------ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: linear-gradient(to right, #5f2c82, #49a09d);
}

.nav-left > img {
    width: 50%;
}

.nav-right {
    color: #ffff;
}

.nav-right > p {
    margin: 0;
}

button.hamburger {
    display: none;
}

.back_bottom {
    width: 100%;
    display: flex;
}

/* ------------ 左邊內容區塊 ------------ */
.content-wrap {
    width: 15%;
    display: flex;
    min-height: 100vh;
    ul {
        color: white;
    }
    .left-block {
        width: 100%;
        background-color: #f4f4f4;
        padding: 10px;
        margin: 0;
        li {
            list-style: none;
            padding: 5px 10px;
            background-color: #807efb;
            margin: 15px;
            text-align: center;
            border-radius: 20px;
            transition: 0.3s;
            cursor: pointer;
        }
        .active {
            background-color: #5e5db9;
        }
    }
}
.left-block li:hover {
    background-color: #5e5db9;
}
.add-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    min-width: 200px;
    input {
        width: 80%;
        max-width: 200px;
        height: 27px;
        border-radius: 3px;
        border: transparent;
        opacity: 90%;
        margin: 0 10px 0 2px;
    }
    .admin_edit_box {
        display: flex;
        align-items: center;
        text-align: center;
        width: 18%;
        // border: 1px solid blue;
        label {
            width: 15%;
            min-width: 40px;
            // border: 1px solid red;
        }
        input {
            width: 80%;
            // border: 1px solid green;
            width: 80%;
            height: 27px;
            border-radius: 3px;
            border: transparent;
            opacity: 90%;
            margin: 0 10px 0 2px;
        }
    }
    button {
        cursor: pointer;
        border-radius: 40px;
        width: 95px;
        height: 30px;
        border: 1px solid transparent;
        background-color: #6f26a2;
        color: #fff;
        transition: all 0.2s;
        &:hover {
            background-color: #6d289d;
        }
    }
}
/* ------------ 右邊區塊=>狀態btn ------------ */
.button {
    display: block;
    label {
        position: relative;
        display: inline-block;
        width: 48px;
        height: 24px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
        -webkit-tap-highlight-color: transparent;

        //白點點
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-color: white;
            border-radius: 24px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: box-shadow 0.3s ease-in-out;
            animation: moveLeft 0.3s ease-in-out;
        }
    }

    input {
        display: none;
        &:checked + label {
            background-color: purple;
            &:before {
                transform: translateX(25px);
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                animation: moveRight 0.3s ease-in-out;
            }
        }
    }
}

@keyframes moveRight {
    0% {
        width: 23px;
        transform: translateX(0);
    }

    45% {
        width: 26px;
    }

    100% {
        width: 23px;
        transform: translateX(24px);
    }
}

@keyframes moveLeft {
    0% {
        width: 23px;
        transform: translateX(24px);
    }

    45% {
        width: 26px;
    }

    100% {
        width: 23px;
        transform: translateX(0);
    }
}

/* ------------ 右邊區塊=>管理者管理 ------------ */
.right-block_admin,
.right-block_member,
.right-block_teacher,
.right-block_course,
.right-block_comment,
.right-block_mall,
.right-block_game,
.right-block_class {
    width: 85%;
    .right-block {
        width: 100%;
        padding: 20px;
    }
    .form-wrap {
        padding: 10px;
        background-color: #d1bee8;
    }
    .content-list {
        border-radius: 10px;
        background-color: #f5effd;
        padding: 10px;
        display: flex;
        overflow: auto;
        table {
            tr > td {
                button {
                    cursor: pointer;
                    border-radius: 3px;
                    width: 60px;
                    height: 28px;
                    border: 1px solid transparent;
                    background-color: #8946a1 !important;
                    color: #fff;
                    transition: all 0.2s;
                    &:hover {
                        background-color: #6d289d;
                    }
                }
            }
        }
        .item_img {
            width: 100px;
            padding: 0;
            display: flex;
            img {
                width: 100%;
            }
        }
    }
    .form-list {
        width: 100%;
        overflow: auto;
    }
    th {
        padding: 5px;
        color: #555555;
    }
    td {
        padding: 10px;
        text-align: center;
        color: #555555;
    }
    label {
        color: #555555;
    }
}

/* ------------ 修改狀態 管理員&會員&教師 管理燈箱 ------------ */

.right-block_admin,
.right-block_member,
.right-block_teacher,
.right-block_course,
.right-block_comment,
.right-block_mall,
.right-block_game {
    .lightbox_black {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        .lightbox {
            position: absolute;
            background-color: #e6ecf0;
            padding: 30px 0 30px;
            border-radius: 10px;
            text-align: center;
            width: 500px;
            height: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: #555555;
            letter-spacing: 1px;
            div:nth-child(2) {
                margin-bottom: 80px;
                span:nth-child(1) {
                    color: #49a09d;
                    font-weight: bold;
                }
                span:nth-child(2) {
                    color: #ee7812;
                    font-weight: bold;
                }
            }
            div:nth-child(3) {
                display: inline-block;
                background-color: #49a09d;
                padding: 8px 60px;
                border: none;
                border-radius: 3px;
                color: white;
                margin: 10px auto;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}
.manager_lightbox_close {
    margin-bottom: 15px;
    img {
        position: absolute;
        width: 20px;
        top: 15px;
        right: 15px;
        color: rgba(128, 128, 128, 0.46);
        cursor: pointer;
        opacity: 50%;
    }
}
/* ------------ 右邊區塊=>課程&商城管理燈箱(jQuery) ------------ */
.right-block_course,
.right-block_mall,
.right-block_class {
    .lightbox_add_black {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        .lightbox {
            position: absolute;
            background-color: #e6ecf0;
            padding: 30px 0 30px;
            border-radius: 10px;
            text-align: center;
            width: 600px;
            height: 450px;
            align-items: center;
            font-size: 18px;
            color: #555555;
            .add-form {
                // border: 1px solid red;
                width: 100%;
                h2 {
                    color: #5f5d60;
                    letter-spacing: 1px;
                    margin: 20px auto;
                    font-size: 24px;
                    text-align: center;
                }
                .addcoursecon {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin: 15px auto;
                    .acc_title {
                        width: 30%;
                        // border: 1px solid red;
                    }
                    .acc_con {
                        width: 50%;
                        text-align: left;
                        // border: 1px solid black;
                    }
                }
                .form_btn {
                    display: inline-block;
                    background-color: #49a09d;
                    padding: 8px 60px;
                    border: none;
                    border-radius: 3px;
                    color: white;
                    margin: 10px auto;
                    cursor: pointer;
                    font-size: 16px;
                }
            }
        }
    }
}

/* ------------ footer ------------ */
footer {
    width: 100%;
    color: #ffff;
    margin: 0;
    background-color: #141414;
}

footer > p {
    font-size: 12px;
    text-align: center;
    padding: 8px 0px;
    margin: 0;
}

/* ------------ RWD ------------ */
@media screen and (max-width: 767px) {
    .nav-left > img {
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    ul.left-block {
        display: block !important;
    }
}

@media screen and (max-width: 991px) {
    .content-wrap {
        flex-direction: column;
    }
    ul.left-block {
        display: none;
        width: 100%;
    }
    button.hamburger {
        display: inline-block;
    }
    .right-block {
        width: 100%;
    }
}

// .add-bar {
//   margin-bottom: 10px;
// }

/*------------ 顯示使用者現在所在位置 ------------*/
// #back-admin {
//     background-color: #5e5db9;
// }
/*# sourceMappingURL=back-admin.css.map */
