@import '../style.scss';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: radial-gradient(
        200% 100% at bottom center,
        #f7f7b6,
        #e96f92,
        #75517d,
        #1b2947
    );
    background: radial-gradient(
        220% 105% at top center,
        #1b2947 10%,
        #75517d 40%,
        #e96f92 65%,
        #f7f7b6
    );
    background-attachment: fixed;
    overflow-x: hidden;
    // overflow: hidden;
    // overflow-y: auto;
    // height: 500px;
}
// 卷軸
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1b2947;
}
@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }
    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg)
            rotateY(-360deg);
    }
}
.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 90s infinite linear;
}
.star {
    width: 2px;
    height: 2px;
    background: #f7f7b6;
    //border-radius:100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

// 標題

div.cart_title_box {
    width: 60%;
    text-align: left;
    margin: 20px auto 10px auto;
    @media (max-width: 575px) {
        width: 77%;
    }
    .cart_title {
        font-size: 28px;
        color: #ffffff;
        text-shadow: 0 0 0.2em #ff0000, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
    }
}

// 內容

div.cartpro_box {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: calc(100vh - 250px);
    .cartpro_a_box {
        width: 65%;
        display: flex;
        margin: 50px auto;
        justify-content: space-between;
        background-color: #ffffff2f;
        padding: 20px 15px;
        border: 1px solid #ffffff2f;
        border-radius: 30px;
        position: relative;
        @media (max-width: 1200px) {
            width: 70%;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }
        @media (max-width: 575px) {
            width: 85%;
        }
        .crystalball_left_box {
            width: 30%;
            img {
                width: 100%;
            }
            @media (max-width: 768px) {
                margin: 10px auto;
                width: 40%;
            }
            @media (max-width: 375px) {
                width: 50%;
            }
        }
        .crystalball_right_box {
            margin-left: 20px;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            @media (max-width: 1200px) {
                width: 90%;
                margin-right: 10px;
            }
            @media (max-width: 768px) {
                margin: 0 auto;
            }

            div.crystalball_name_box {
                width: 100%;
                font-size: 24px;
                margin-bottom: 15px;
                color: #ffffff;
                text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5,
                    0 0 0.2em #f57af5;
            }
            div.close {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 20px;
            }
            div.crystalball_text {
                font-size: 18px;
                color: #ffffff;
                line-height: 30px;
                text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186,
                    0 0 0.3em #863186;
            }
            div.crystalball_priceAmount_box {
                display: flex;
                justify-content: flex-end;
                div.amount {
                    color: #ffffff;
                    font-size: 18px;
                    width: 20%;
                    line-height: 40px;

                    text-align: center;
                    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186,
                        0 0 0.3em #863186;
                    @media (max-width: 1200px) {
                        width: 20%;
                    }
                    @media (max-width: 992px) {
                        width: 24%;
                    }
                    @media (max-width: 850px) {
                        width: 27%;
                    }
                    @media (max-width: 768px) {
                        width: 25%;
                    }
                    @media (max-width: 575px) {
                        width: 30%;
                        font-size: 16px;
                    }
                    @media (max-width: 375px) {
                        width: 40%;
                    }
                    .butDec {
                        color: rgb(0, 0, 0);
                        background-color: rgb(184, 69, 155);
                        border: 0px;
                    }
                    #quantity {
                        // width: 50%;
                        height: 29px;
                        width: 60px;
                        font-size: 20px;
                        display: flex;

                        color: #ffffff;
                        background-color: #ffffff;
                        align-items: center;
                        text-align: center;
                        span {
                            margin: 0 auto;
                        }
                    }
                    #min {
                        font-size: 22px;
                        width: 30px;
                    }
                    #addamount {
                        font-size: 24px;
                        width: 30px;
                    }

                    div.amount_input {
                        display: flex;
                        width: 80%;
                        align-items: center;
                        text-align: center;

                        // height: 28px;
                    }
                }
            }
            div.pro_complete_price_box {
                display: flex;
                // width: 100%;
                text-align: right;
                color: #ffffff;
                font-size: 18px;
                width: 20%;
                align-items: center;
                @media (max-width: 1200px) {
                    width: 20%;
                }
                @media (max-width: 992px) {
                    width: 24%;
                }
                @media (max-width: 850px) {
                    width: 27%;
                }
                @media (max-width: 768px) {
                    width: 25%;
                }
                @media (max-width: 575px) {
                    width: 30%;
                    font-size: 16px;
                }
                @media (max-width: 375px) {
                    width: 40%;
                    font-size: 16px;
                }
                img {
                    width: 30px;
                    margin-right: 10px;
                    @media (max-width: 575px) {
                        width: 30%;
                    }
                }
                div.pro_complete_price {
                    text-align: right;
                    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186,
                        0 0 0.3em #863186;
                }
            }
        }
    }
}

div.deliver_box {
    width: 60%;
    margin: 0 auto;
    @media (max-width: 575px) {
        width: 80%;
        margin: 0 auto;
    }
    @media (max-width: 375px) {
        width: 80%;
        margin: 0 auto;
    }
    img {
        width: 100%;
        margin-left: 10px;
    }
}

// ========================================================================

div.total_box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 375px) {
        width: 80%;
    }
    div.total_photoandtext {
        font-size: 20px;
        align-items: center;
        color: #ffffff;
        text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
        img {
            width: 30px;
        }
    }
    div.total_text {
        font-size: 18px;

        color: #ffffff;
        margin-left: 10px;
        text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
    }
}

// =============================空的購物車=============================

div.space_box {
    width: 60%;
    display: flex;
    // display: none;
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
    background-color: #ffffff2f;
    border: 1px solid #ffffff2f;
    border-radius: 30px;
    padding: 30px 20px 20px 20px;
    flex-direction: column;
    @media (max-width: 575px) {
        width: 85%;
    }
    @media (max-width: 375px) {
        width: 80%;
    }
    img {
        width: 20%;
        @media (max-width: 375px) {
            width: 30%;
        }
    }
    div.space_text {
        width: 100%;
        margin: 10px auto;
        padding: 30px 0 5px 0;
        color: #ffffff;
        text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
        @media (max-width: 375px) {
            width: 100%;
            font-size: 26px;
        }
    }
    div.space_backmall {
        margin: 40px auto 20px auto;
        a {
            box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
            padding: 5px 10px 5px 10px;
            text-align: center;
            text-decoration: none;
            font-size: 22px;
            background-color: #f33494;
            border-radius: 15px;
            border: 1px solid palevioletred;
            color: #fff;
            @media (max-width: 375px) {
                font-size: 22px;
            }
        }
    }
}

// =================================================================
.star,
.planet {
    border-radius: 100%;
    position: absolute;
    display: block;
}

.star {
    animation: twinkle 2s linear 0s infinite normal;
    background: #f6f6f6;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.planet {
    animation: twinkle 5s linear 0s infinite normal;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    z-index: 2;
    left: 300%;
    top: 300%;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

////////
.num_icon {
    // display: block;
    position: absolute;
    top: 50px;
    // right: 40px;
    right: 3%;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #dc52ffc0;
    text-shadow: 0 0 0.2em #87f, 0 0 0.2em #87f, 0 0 0.2em #87f;
    color: #ffffff;
    font-weight: bold;
    line-height: 16px;
    z-index: 999;
    font-size: 18px;
    @media (max-width: 701px) {
        right: 12%;
        top: 6%;
    }
    @media (max-width: 570px) {
        right: 14%;
    }
    @media (max-width: 376px) {
        right: 16%;
    }
    .num_text {
        // border: 1px solid red;
        text-align: center;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 25%;
    }
}
body {
    position: relative;
}
