@import '../style.scss';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: radial-gradient(
        100% 100% at bottom center,
        #f7f7b6,
        #e96f92,
        #75517d,
        #1b2947
    );
    background: radial-gradient(
        100% 100% at top center,
        #1b2947 10%,
        #75517d 40%,
        #e96f92 65%,
        #f7f7b6
    );
    // background: radial-gradient(
    //     100% 100% at bottom center,
    //     #892570,
    //     #75517d,
    //     #3a6186
    // );
    // background: radial-gradient(
    //     100% 100% at top center,
    //     #3a6186 10%,
    //     #75517d 40%,
    //     #892570 65%
    // );
    background-attachment: fixed;
    overflow-x: hidden;
}

// 標題
div.confirm_title_box {
    width: 90%;
    text-align: left;
    margin: 20px auto;
}
div.confirm_title {
    font-size: 28px;
    width: 66%;
    margin: 20px auto 10px auto;
    color: #ffffff;
    text-align: left;
    text-shadow: 0 0 0.2em #ff0000, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
}
//確認資料區塊
div.confirm_data_box {
    width: 90%;
    margin: 30px auto 0px auto;
    padding: 20px 15px;
}
div.confirm_data {
    width: 66%;
    background-color: #ffffff49;
    border: 1px solid #ffffff49;
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 0 0.2em #863186, 0 0 0.2em #863186, 0 0 0.2em #863186;
}
//姓名
div.name_box {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
div.name {
    width: 70%;
}
//電話
div.phone_box {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
div.phone {
    width: 70%;
}
//地址
div.add_box {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
div.add {
    width: 70%;
}
//付款方式
div.pay_box {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
div.pay {
    width: 70%;
    margin-right: 10px;
}
div.pay_title {
    margin-left: -10px;
}
//折扣點數
div.point_box {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
div.point {
    width: 70%;
    margin-right: 10px;
}
div.point_title {
    margin-left: -10px;
}

//購買內容

div.cartpro_box {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.delete_btn {
    background-color: #ffffff;
    color: #863186;
    padding: 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 10px;
    width: 100%;
}
div.cartpro_a_box {
    width: 65%;
    display: flex;
    margin: 30px auto 20px auto;
    justify-content: space-between;
    background-color: #ffffff2f;
    padding: 20px 15px;
    border: 1px solid #ffffff2f;
    border-radius: 30px;
    position: relative;
}
div.crystalball_left_box {
    width: 30%;
}
div.crystalball_right_box {
    margin-left: 20px;

    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
div.crystalball_name_box {
    width: 100%;
    font-size: 24px;
    margin-bottom: 15px;

    color: #ffffff;
    text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
}

div.pro_complete_price_box > img {
    width: 30px;
    margin-right: 10px;
}
div.pro_complete_price_box {
    display: flex;
    width: 100%;
    text-align: right;
}
div.crystalball_priceAmount_box {
    display: flex;
    justify-content: flex-end;
}
div.crystalball_text {
    font-size: 18px;
    color: #ffffff;

    line-height: 30px;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}
div.amount {
    color: #ffffff;
    font-size: 18px;
    width: 16%;
    line-height: 40px;
    text-align: center;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}
div.pro_complete_price_box {
    color: #ffffff;
    font-size: 18px;
    width: 16%;
    align-items: center;
}

div.pro_complete_price {
    text-align: right;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}
div.deliver_box {
    width: 60%;
    margin: 0 auto;

    img {
        width: 100%;
        margin-left: 10px;
    }
}

// 總額

div.total_photoandtext > img {
    width: 30px;
}
div.total_photoandtext {
    font-size: 20px;
    align-items: center;
    color: #ffffff;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}
div.total_box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    // text-align: right;

    justify-content: flex-end;
}

div.total_text {
    font-size: 18px;
    color: #ffffff;
    margin-left: 10px;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}

//上下步

div.back_next_box {
    display: flex;
    width: 60%;
    margin: 20px auto 10px auto;
    justify-content: space-between;
}
//上一步

div.backText {
    background-color: #ffffff;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
}
div.backText > a {
    text-decoration: none;
    color: #863186;
}

// 下一步

div.nextText {
    background-color: #ffffff;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
}
div.nextText > a {
    text-decoration: none;
    color: #863186;
}

// ====================== RWD ======================
@media (max-width: 1200px) {
    div.confirm_data {
        width: 70%;
    }
    div.cartpro_a_box {
        width: 70%;
    }
    div.crystalball_right_box {
        width: 90%;
        margin-right: 10px;
    }
    div.delete_box {
        width: 90px;
    }
    div.pro_complete_price_box {
        width: 20%;
    }
    div.amount {
        width: 20%;
    }
    div.deliver_box {
        width: 70%;
    }
}

@media (max-width: 992px) {
    div.pro_complete_price_box {
        width: 24%;
    }
    div.amount {
        width: 24%;
    }
}
@media (max-width: 850px) {
    div.pro_complete_price_box {
        width: 27%;
    }
    div.amount {
        width: 27%;
    }
}

@media (max-width: 768px) {
    div.confirm_data {
        font-size: 20px;
        width: 90%;
    }
    div.title {
        text-align: center;
        // padding: 4px 0px 0px 0px;
    }
    div.confirm_title {
        width: 85%;
    }

    div.data_text {
        margin-left: 10px;
    }
    div.cartpro_a_box {
        flex-direction: column;
        width: 85%;
    }
    div.crystalball_right_box {
        margin: 0 auto;
    }
    div.crystalball_left_box {
        margin: 10px auto;
        width: 40%;
    }
    div.pro_complete_price_box {
        width: 25%;
    }
    div.amount {
        width: 25%;
    }
    div.deliver_box {
        width: 85%;
    }
}
@media (max-width: 575px) {
    div.pro_complete_price_box {
        width: 30%;
        font-size: 16px;
    }
    div.amount {
        width: 30%;
        font-size: 16px;
    }
    div.title {
        padding: 4px 0px 0px 0px;
    }
    div.pro_complete_price_box > img {
        width: 30%;
    }
    div.data_text {
        line-height: 30px;
    }
}

@media (max-width: 375px) {
    div.crystalball_left_box {
        width: 50%;
    }
    div.deliver_box {
        width: 80%;
        margin: 0 auto;
    }
    div.pro_complete_price_box {
        width: 40%;
        font-size: 16px;
    }
    div.amount {
        width: 40%;
    }
    div.total_box {
        width: 80%;
    }
    div.buy_box {
        width: 80%;
    }
}

// =================================================================
.star,
.planet {
    border-radius: 100%;
    position: absolute;
    display: block;
}

.star {
    animation: twinkle 2s linear 0s infinite normal;
    background: #f6f6f6;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.planet {
    animation: twinkle 5s linear 0s infinite normal;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    z-index: 2;
    left: 300%;
    top: 300%;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
