@import '../style.scss';

main.main {
    width: 1140px;
    margin: 0 auto;
    border: 1px solid rgb(10, 87, 111);

}

body{
    background-image: 
    url(../img/course_cards/bg01.png),
    url(../img/course_cards/bg06.png);
    // url(../img/course_cards/bg01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:0 0, 0;
    
}

div.course_filter {
    // border: 1px solid red;
    background-image: url(../img/course_cards/bg01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 960px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
    background-image: url(../img/course_cards/filter_background.png);
    background-repeat: no-repeat;

    img.img_bat{
        position: absolute;
        top: 20%;
        left: 30%;
    }
}

div.filter_container {
    // border: 1px solid red;
    position: relative;
    top: 40%;
}

div.course_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;


    div.fliter_block {
        width: 400px;
        display: flex;
        justify-content: left;

        h4 {
            color: white;
            background-color: purple;
            border-radius: 15px;
            padding: 5px 8px 5px 10px;
            margin-right: 20px;
            letter-spacing: 5px;
        }
    }
}

div.course_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;

    div.fliter_block {
        width: 400px;
        display: block;
        display: flex;

        h4 {
            color: white;
            background-color: purple;
            border-radius: 15px;
            padding: 5px 18px 5px 21px;
            margin-right: 20px;
            letter-spacing: 5px;
        }
    }
}

div.course_price {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;

    div.fliter_block {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        h4 {
            color: white;
            background-color: purple;
            border-radius: 15px;
            padding: 5px 10px;
        }
    }

}


div.all_course_card{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid red;

    div.card{
        // border: 1px solid green;
        width: calc((100% - 60px) / 4);
        margin-right: 20px;
        margin-bottom: 30px;
    }
    img{
        cursor: pointer;
    }
}


div.card{
    position: relative;

    p.course_title{
        font-size: 24px;
        letter-spacing: $letterSpacing;
        color:#dcb127;
        position: absolute;
        top: 10%;
        right: 35%;
    }
    p.course_price{
        font-size: 18px;
        letter-spacing: $letterSpacing;
        color:#dcb127;
        position: absolute;
        top: 80%;
        right: 35%;
    }
    p.course_class{
        font-size: 18px;
        letter-spacing: $letterSpacing;
        color:#dcb127;
        position: absolute;
        top: 70%;
        right: 25%;
    }
}

div.all_course_card>div.card:nth-child(4n){
    margin-right: 0; 
    // border: 1px solid red;
}