@import '../style.scss';



body {
    background-image: url(../img/course_cards/bg01.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main.main {
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 1139px) {
    main.main {
        width: 550px;
    }
}

@media (max-width: 549px) {
    main.main {
        width: 375px;
    }
}

div.course_filter {
    background-image: url(../img/course_cards/bg01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    width: 840px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-image: url(../img/course_cards/filter_background.png);
    background-repeat: no-repeat;
    position: relative;

    img.img_bat {
        position: absolute;
        top: -10%;
        left: 20%;
    }
}

@media (max-width:1139px) {
    div.course_filter {
        background-image: none;
        width: 375px;
        height: 400px;
        background-color: rgba(192, 167, 246, 0.305);

        img.img_bat {
            position: absolute;
            top: -15%;
            left: -8%;
        }
    }
}


div.filter_container {
    position: relative;
    top: 25%;
}

@media (max-width:1139px) {
    div.filter_container {
        position: relative;
        top: 10%;
    }
}


div.course_class {

    width: 600px;
    margin: 0 auto;
    margin-bottom: 50px;



    h3 {
        font-size: 20px;
        color: $purplered;
        font-weight: $fontWeight;
        margin-bottom: 20px;
    }

    div.fliter_block {
        // width: 430px;


        label.radio {
            font-size: 16px;
            font-weight: 500;
            // vertical-align: middle;
            padding: 5px 10px 5px 7px;
            margin-right: 10px;
            cursor: pointer;
            background-color: $purplered;
            border-radius: 10px;
            color: white;
            display: inline-block;
        }

        button {
            border: none;
            background-color: #8e623d;
            color: white;
            font-size: 16px;
            border-radius: 10px;
            padding: 3px 8px 3px 8px;
            display: inline-block;
            cursor: pointer;
            float: right;
        }


    }
}

@media (max-width:1139px) {

    div.course_class {
        display: block;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 30px;

        h3 {
            font-size: 20px;
            color: white;
        }

        div.fliter_block {
            width: 300px;
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            margin-top: 20px;

            label.radio {
                margin-bottom: 10px;
            }

        }
    }

}


div.course_price {
    width: 600px;
    margin: 0 auto;


    h3 {
        font-size: 20px;
        color: $purplered;
        font-weight: $fontWeight;
        margin-bottom: 20px;
    }

    div.fliter_block {


        label.radio {
            font-size: 16px;
            font-weight: 500;
            // vertical-align: middle;
            padding: 5px 10px 5px 7px;
            margin-right: 10px;
            cursor: pointer;
            background-color: $purplered;
            border-radius: 10px;
            color: white;
            display: inline-block;
        }

        button {
            border: none;
            background-color: #8e623d;
            color: white;
            font-size: 16px;
            border-radius: 10px;
            padding: 3px 8px 3px 8px;
            display: inline-block;
            cursor: pointer;
            float: right;
        }
    }
}

@media (max-width:1139px) {
    div.course_price {
        display: block;
        width: 80%;

        h3 {
            font-size: 20px;
            color: white;
        }

        div.fliter_block {
            width: 300px;
            display: flex;
            flex-wrap: wrap;


            label.radio {
                margin-bottom: 10px;
            }
        }
    }
}



div.all_course_card {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;


    div.card {
        // width: calc((100% -40px) / 4);
        // width: 100;
        // margin-right: 20px;
        margin-bottom: 100px;

    }

    img {
        cursor: pointer;
    }


}

div.card {
    position: relative;

    p.course_title {
        font-size: 24px;
        font-weight: $fontWeight;
        letter-spacing: 3px;
        color: #e6b619;
        text-shadow: 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3;
        ;
        position: absolute;
        top: -8%;
        right: 35%;

    }

    p.course_price {
        font-size: 18px;
        letter-spacing: 3px;
        color: #dcb127;
        position: absolute;
        top: 5%;
        right: 35%;
    }

    p.course_class {
        font-size: 18px;
        letter-spacing: 3px;
        color: #dcb127;
        position: absolute;
        top: 60%;
        right: 25%;
    }

    p.course_endDate {
        font-size: 12px;
        letter-spacing: 3px;
        color: #dcb127;
        position: absolute;
        top: 105%;
        right: 15%;

    }

    p.registration {
        background-color: $purple;
        color: #fff;
        // width: 140px;
        // height: 36px;
        padding: 10px 10px 10px 10px;
        border: 1px solid lighten($purple, 8%);
        outline: none;
        border-radius: 25px;
        font-size: $h5;
        font-weight: 400;
        letter-spacing: $titleLetterSpacing;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 0.2em #87f, 0 0 0.2em #87f, 0 0 0.2em #87f;
        // margin: 30px 0;
        cursor: pointer;
        box-shadow: 0 0 10px $lightpurple;

        &:hover {
            background-color: lighten($purple, 8%);
            transition: background-color .2s;
        }

        position: absolute;
        top: 150%;
        right: 30%;

    }
}


div.all_course_card>div.card:nth-child(4n) {
    margin-right: 0;
}

@media all and (max-width: 1139px) {
    div.all_course_card>div.card:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 1139px) {
    div.all_course_card {
        width: 550px;

        div.card {
            width: calc((100% - 20px) / 2);
            // margin-right: 20px;
            margin-bottom: 100px;
        }
    }
}

@media (max-width: 549px) {
    div.all_course_card {
        width: 265px;

        div.card {
            width: 270px;
            margin-right: 0px;
        }
    }

}


//愛心開始
.center-content {
    position: absolute;
    top: -5%;
    left: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.heart {
    display: block;
    width: 1em;
    height: 1em;
    font-size: 18px;


    .heart-inner {

        &,
        &::before,
        &::after {
            background-color: white;

        }
    }

    &.loved .heart-inner {

        &,
        &::before,
        &::after {
            background-color: rgb(249, 48, 48);
        }
    }

    &.loved {
        animation: loved .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.heart-inner {
    display: block;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 1em;
    }

    &::before {
        left: 0;
        top: -50%;
    }

    &::after {
        left: -50%;
        top: 0;
    }
}

@keyframes loved {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.6, 0.8);
    }

    35% {
        transform: scale(0.8, 0.6);
    }

    70% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

//愛心結束


//課程道具部分

div.course_accessory {
    width: 1140px;
    height: 400px;
    margin: 0 auto;

    p {
        color: white;
        font-size: 24px;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 20px;
    }

    div.titleimg_block {
        width: 400px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
}

@media (max-width: 1139px) {
    div.course_accessory {
        width: 550px;
    }
}

@media (max-width:549px) {
    div.course_accessory {
        width: 325px;

        div.titleimg_block {
            width: 325px;

        }

        img.white_title {
            width: 100%;
        }
    }
}

div.accessory_container {
    width: 1140px;

    div.sliderboard {
        display: flex;
        width: 800px;
        margin: 0 auto;

        div.single_accessory {
            width: 200px;
            margin: 0 auto;
            border: 1px solid rgba(235, 235, 235, 0);

            img {
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }
}

@media (max-width:1139px) {
    div.accessory_container {
        width: 550px;

        div.sliderboard {
            display: flex;
            width: 550px;
            margin: 0 auto;

            div.single_accessory {
                width: 200px;
                margin: 0 auto;

                img {
                    margin: 0 auto;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width:549px) {
    div.accessory_container {
        width: 325px;

        div.sliderboard {
            width: 325px;

            div.single_accessory {
                width: 100px;

                img {
                    width: 80%;
                }
            }
        }
    }
}




.card {
    width: 262px;
    height: 436px;
    margin: 1rem;
    cursor: pointer;
}

.container {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.front,
.back {
    background-position: center;
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    backface-visibility: hidden;
    text-align: center;
    height: 436px;
    width: 262px;
    border-radius: 10px;
}

.front img {
    width: 100%;
}

.back img {
    width: 100%;
}


.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .3;
    background-color: #000;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    font-size: .7em;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.container .front {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.container:hover .back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.container:hover .front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}


body {
    position: relative;
}