@import '../style.scss';

main.main {
    width: 1140px;
    margin: 0 auto;
    // border: 1px solid rgb(10, 87, 111);
}

body {
    background-image: url(../img/course_cards/bg01.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(50, 25, 120);
    // background-position: 0 0, 0 0;

}

div.course_filter {
    // border: 1px solid red;
    background-image: url(../img/course_cards/bg01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.9;
    width: 960px;
    height: 400px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-image: url(../img/course_cards/filter_background.png);
    background-repeat: no-repeat;
    position: relative;

    img.img_bat {
        position: absolute;
        top: -10%;
        left: 20%;
    }
}

div.filter_container {
    // border: 1px solid red;
    position: relative;
    top: 40%;
}

div.course_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;

    h3 {
        font-size: 20px;
    }


    div.fliter_block {
        width: 400px;
        display: flex;
        justify-content: left;

        h4 {
            color: white;
            background-color: $purplered;
            border-radius: 15px;
            padding: 10px 12px 10px 15px;
            margin-right: 20px;
            letter-spacing: 5px;
            cursor: pointer;
        }
    }
}


div.course_price {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;

    h3 {
        font-size: 20px;
        vertical-align: center;
    }

    div.fliter_block {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        h4 {
            color: white;
            background-color: $purplered;
            border-radius: 15px;
            padding: 10px 15px;
            cursor: pointer;
        }
    }

}


div.all_course_card {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    // border: 1px solid red;

    div.card {
        // border: 1px solid green;
        width: calc((100% - 60px) / 4);
        margin-right: 20px;
        margin-bottom: 100px;
    }

    img {
        cursor: pointer;
    }
    div.cloud_img{
        // border: 1px solid red;
        position: absolute;
        top: 55%;
        left: 30%;
        z-index: -1;
    }
}


div.card {
    position: relative;

    p.course_title {
        font-size: 24px;
        letter-spacing: 3px;
        color: #e6b619;
        position: absolute;
        top: -8%;
        right: 35%;
    }

    p.course_price {
        font-size: 18px;
        letter-spacing: 3px;
        color: #dcb127;
        position: absolute;
        top: 80%;
        right: 35%;
    }

    p.course_class {
        font-size: 18px;
        letter-spacing: 3px;
        color: #dcb127;
        position: absolute;
        top: 70%;
        right: 25%;
    }
}

div.all_course_card>div.card:nth-child(4n) {
    margin-right: 0;
    // border: 1px solid red;
}



//愛心開始
.center-content {
    position: absolute;
    top: -5%;
    left: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.heart {
    display: block;
    width: 1em;
    height: 1em;
    font-size: 18px;

    .heart-inner {

        &,
        &::before,
        &::after {
            background-color: white;

        }
    }

    &.loved .heart-inner {

        &,
        &::before,
        &::after {
            background-color: rgb(249, 48, 48);
        }
    }

    &.loved {
        animation: loved .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.heart-inner {
    display: block;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 1em;
    }

    &::before {
        left: 0;
        top: -50%;
    }

    &::after {
        left: -50%;
        top: 0;
    }
}

@keyframes loved {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.6, 0.8);
    }

    35% {
        transform: scale(0.8, 0.6);
    }

    70% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}
//愛心結束


//課程道具部分

div.course_accessory {
    width: 1140px;
    height: 600px;
    // border: 1px solid rgb(20, 244, 251);

    p{
        color: white;
        font-size: 24px;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 20px;
    }

    div.titleimg_block{
        // border: 1px solid rgb(150, 255, 246);
        width: 400px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
}

div.accessory_container{
    width: 1140px;
    // border: 1px solid rgb(255, 157, 157);
   
    div.sliderboard{
        display: flex;
        width: 800px;
        margin: 0 auto;
        // border: 1px solid rgb(189, 255, 229);

        div.single_accessory{
            width: 200px;
            margin: 0 auto;
            border: 1px solid rgba(237, 237, 239, 0);

            img{
                margin: 0 auto;
                cursor: pointer;
            }
        }
    }
}