@import '../style';

@mixin titleStyle{
    font-weight: $fontWeight;
    letter-spacing: $titleLetterSpacing;
    margin: 10px;
}
@mixin paraStyle{
    font-size: $p;
    letter-spacing: $paraLetterSpacing;
    line-height: $lineHeight;
    margin: 10px;
}

body{
    background-color: #10001c;
}
#pinContainer{
    // border: 1px solid blue;
    height: 120vh;
    overflow: hidden;
    .first{
        // border: 1px solid red;
        height: 100vh;
        width: 100%;
        position: absolute;
    }
    .one{
        background: {
            // image: url("../img/index/[first]bg1.png");
            color: #333;
            repeat: no-repeat;
            size: cover;
            position: center bottom;
        }
        .para{
            border: 1px solid seagreen;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                color: #fff;
                font-family: $navFont;
                letter-spacing: $titleLetterSpacing;
                line-height: $lineHeight;
                text-shadow: 0 0 0.6em #87f, 0 0 0.2em #87f;
            }
        }
        .witch{
            // border: 1px solid aquamarine;
            position: absolute;
            bottom: 0;
            left: 100px;
        }
    }
    .two{
        border: 1px solid rgb(8, 235, 122);
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100vw;
        height: 0;
        padding-bottom: 52%;
        margin: 0 auto;
        // .para{
        //     border: 1px solid seagreen;
        //     height: 100vh;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     p{
        //         color: #fff;
        //         font-family: $navFont;
        //         letter-spacing: $titleLetterSpacing;
        //         line-height: $lineHeight;
        //         text-shadow: 0 0 0.6em #87f, 0 0 0.2em #87f;
        //     }
        // }
        @media all and (max-width: 414px){
            // width: 414px;
            height: 70vh;
        }
        .full{
            width: 100%;
            height: 100%;
            position: absolute;
            background: {
                color: transparent;
                repeat: no-repeat;
                position: 0 bottom;
                size: cover;
            }
        }
        .lay01{
            background-image: url("../../img/index/[first]1rock.png");
            z-index: 10;
            background-size: contain;
        }
        .lay02{
            background-image: url("../../img/index/[first]2rock.png");
            z-index: 9;
            background-size: contain;
        }
        .lay03{
            background-image: url("../../img/index/[first]3castle.png");
            z-index: 8;
        }
        .lay04{
            background-image: url("../../img/index/[first]4mount.png");
            z-index: 7;
        }
        .lay05{
            background-image: url("../../img/index/[first]5bg.png");
            z-index: 6;
        }
        .lay06{
            p{
                border: 1px solid red;
                color: #fff;
                font-family: $navFont;
                letter-spacing: $titleLetterSpacing;
                line-height: $lineHeight;
                text-shadow: 0 0 0.6em #87f, 0 0 0.2em #87f;
                text-align: center;
            }
        }

    }
}

#second{
    background: {
        image: url("../../img/index/[lessons]bg.png");
        repeat: no-repeat;
        size: cover;
    }
    margin-top: 100px;
    .wrapper{
        // border: 2px solid gold;
        height: 100vh;  
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @media all and (max-width: 414px){
            height: 100%;              
        }
        .title{
            // border: 1px solid green;
            position: relative;
            display: flex;
            justify-content: center;
            &::after{
                // border: 1px solid blue;
                content: "";
                background: {
                    image: url("../../img/index/[lessons]leaves.png");
                    repeat: no-repeat;
                    position: center bottom;
                    size: cover;
                }
                display: inline-block;
                width: 100%;
                height: 220px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }   
            h2{
                // border: 1px solid #fff;
                font-size: $h2;
                font-weight: 600;
                color: #fff;
                letter-spacing: 3px;
                text-shadow: 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3;
                padding-top: 40px;
                position: absolute;
                z-index: 1;
                display: flex;
                justify-content: center;
            } 
        }
        .container{
            // border: 1px solid rgb(253, 229, 253);
            display: flex;
            justify-content: space-evenly;
            flex-grow: 1;
            margin: 0 50px;
            margin-top: 80px;
            @media all and (max-width: 414px){
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
            .card{
                // border: 1px solid saddlebrown;
                width: 350px;
                height: 475px;
                display: flex;
                margin-top: 50px;
                background: {
                    image: url("../../img/index/[lessons]board.png");
                    repeat: no-repeat;
                    size: cover;
                }
                @media all and (max-width: 1200px){
                    // width: 300px;
                    transform: scale(0.9);
                }
                .content{
                    // border: 1px solid salmon;
                    width: 200px;
                    margin: 60px auto;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    h3{
                        // border: 1px solid brown; 
                        color: #fff;
                        font-size: $h3;
                        @include titleStyle;
                        text-align: center;
                        flex-grow: 1;
                        text-shadow: 0 0 0.6em #6600b4, 0 0 0.6em #6600b4;
                    }
                    p{
                        // border: 1px solid blue;
                        color: #fff;
                        @include paraStyle;
                        text-align: left;
                        flex-grow: 4;
                        margin: 10px 20px;
                        &:nth-child(1){
                            border: 1px solid blue;
                            // flex-grow: 6;`
                        }
                    }
                }
            }
        }
        .rock{
            // border: 1px solid rgb(228, 76, 16);
            background: {
                image: url("../../img/index/[lessons]rocks04.png");
                repeat: no-repeat;
                size: contain;
                position: bottom;
            }
            height: 150px;
            position: relative;
            img{
                // border: 1px solid aquamarine;
                position: absolute;
                bottom: 0;
                &:nth-child(1){
                    left: 0;
                    @media all and (max-width: 414px){
                        width: 65%;
                        left: -45px;              
                    }
                }
                &:nth-child(2){
                    right: 300px;
                    @media all and (max-width: 414px){
                        width: 65%;
                        right: 120px;              
                    }
                }
                &:nth-child(3){
                    right: 0;
                    @media all and (max-width: 414px){
                        width: 65%;
                        // right: -25px;              
                    }
                }
            }  
        }
    }         
}
#third{
    background: {
        image: url("../../img/index/[teachers]bg.png");
        repeat: no-repeat;
        size: cover;
    }
    height: 100vh;
}
#fourth{
    background: {
        image: url("../../img/index/[signUpLesson]bg.png");
        repeat: no-repeat;
        size: cover;
    }
    height: 100vh;
    position: relative;
    @media all and (max-width: 414px){
        // height: 100%;              
    }
    .wrapper{
        // border: 1px solid purple;
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 414px){
            display: flex;
            flex-direction: column;              
        }
        .left{
            border: 1px solid darkcyan;
            img{
                &:nth-child(1){
                    @media all and (max-width: 1200px){
                        width: 100%;
                        min-width: 350px;
                    }
                    @media all and (max-width: 414px){
                        display: none;
                    }
                }
                &:nth-child(2){
                    display: none;
                    // @media all and (max-width: 414px){
                    //     display: inline-block;
                    // }
                }
            }
        }
        .text_content{
            border: 1px solid chartreuse;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            min-width: 200px;
            height: 300px;
            margin-top: 100px;
            @media all and (max-width: 414px){
                margin-top: 0;             
                justify-content: center;
                height: 100px;
            }
            h2{
                // border: 1px solid darkcyan;
                font-size: $h2;
                font-weight: 600;
                color: #fff;
                letter-spacing: $titleLetterSpacing;
                text-shadow: 0 0 0.2em #87f, 0 0 0.2em #87f, 0 0 0.2em #87f;
            }
        }
        .right{
            border: 1px solid rgb(255, 159, 15);
            position: relative;
            margin-top: 80px;
            @media all and (max-width: 414px){
                order: 2;
                margin-top: 0;
            }
            img{
                &:nth-child(1){
                    position: absolute;
                    bottom: -50px;
                    left: -100px;
                    @media all and (max-width: 1200px){
                        left: 0;
                        width: 45%;
                        min-width: 200px;
                    }
                    @media all and (max-width: 576px){
                        left: 90px;
                    }
                }
                &:nth-child(2){
                    display: block;
                    @media all and (max-width: 1200px){
                        width: 80%;
                        min-width: 350px;
                        float: right;
                    }
                    @media all and (max-width: 576px){
                        display: none;
                    }
                }
                &:nth-child(3){
                    display: none;
                    @media all and (max-width: 576px){
                        display: block;
                        // position: absolute;
                        // right: 0;
                        // bottom: 0;
                        float: right;
                    }
                }
            }
        }
    }
    .cloud{
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        // @media all and (max-width: 576px){
        //     overflow: hidden;
        //     width: 100%;
        // }
        img{
            // border: 1px solid rgb(0, 255, 13);
            animation: cloudmove 2.5s infinite;
            animation-timing-function: cubic-bezier(.3,.47,.62,.82);
        }
    }
}
#fifth{
    background: {
        image: url("../../img/index/[products]bg.png");
        repeat: no-repeat;
        size: cover;
    }
    height: 100vh;
}
@keyframes cloudmove{
    0%{
        transform: translateY(0px);
    }
    50%{        
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}
