@import '../style';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background-image: url(../img/bg02.png);
    background-repeat: cover;
    background-size: auto;
}

html {
    position: relative;
}
div.shop_box {
    width: 90%;
    margin: 0 auto;
    display: flex;
}
div.shop {
    width: 70%;
    margin: 0 auto 20px auto;
}
div.girl > img {
    width: 75%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
div.girl {
    width: 30%;
    z-index: -1;
    position: relative;
}
div.list_box {
    color: #ffffff;
    display: flex;
    width: 70%;
    font-size: px;
    margin: 30px auto 20px auto;
    justify-content: space-evenly;
    div {
        cursor: pointer;
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    }
}
div.pro_all {
    background-color: #ffffff;
    color: #863186;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}
div.pro_att {
    background-color: #ffffff;
    color: #863186;
    width: 12%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}
div.pro_def {
    background-color: #ffffff;
    color: #863186;
    width: 12%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}
div.pro_ass {
    background-color: #ffffff;
    color: #863186;
    width: 12%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}

/* ===================================全部商品=================================== */

div.allPro_box {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
div.attPro_box {
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 0 auto;
}
div.defPro_box {
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 0 auto;
}
div.assPro_box {
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 0 auto;
}
div.pro_big_box1 {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
div.pro_big_box2 {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
div.pro_big_box3 {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
div.pro_name,
div.pro_price {
    width: 100%;
    margin: 0 auto;
}
div.pro_name {
    margin-top: 10px;
}
div.pro_price {
    margin-top: 10px;
}
div.box {
    color: #ffffff;
    width: 20%;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    text-shadow: 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
    cursor: pointer;
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}
div.pro_photo {
    font-size: 0;
    width: 70%;
    margin: 0 auto;
}

/* ===================================泡泡=================================== */
.bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    z-index: -1;
    transform: translateZ(0);
}

.bubble li {
    position: absolute;
    list-style: none;
    display: block;
    bottom: -100px;
    animation: bubble-ani 15s linear infinite;
    border-radius: 100%;
}
.bubble li:before {
    position: absolute;
    left: 20%;
    top: 21%;
    width: 25%;
    content: '';
    background: rgba(255, 255, 255, 0.3);
    display: block;
    height: 25%;
    border-radius: 100%;
}

.bubble li:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 7%;
    background: rgba(66, 180, 85, 0.3);
}

.bubble li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 13s;
    animation-delay: 1s;
    background: rgba(28, 117, 42, 0.986);
}

.bubble li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 13s;
    animation-delay: 1s;
    background: rgba(28, 117, 41, 0.801);
}
.bubble li:nth-child(3) {
    width: 35px;
    height: 35px;
    left: 15%;
    animation-duration: 18s;
    animation-delay: 1.3s;
    background: rgba(253, 255, 182, 0.425);
}

.bubble li:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 10s;
    animation-delay: 1s;
    background: rgba(71, 156, 22, 0.5);
}

.bubble li:nth-child(5) {
    width: 30px;
    height: 30px;
    left: 23%;
    animation-duration: 16s;
    animation-delay: 1.2s;
    background: rgba(31, 160, 6, 0.3);
}

.bubble li:nth-child(6) {
    width: 35px;
    height: 35px;
    left: 29%;
    animation-duration: 16s;
    animation-delay: 2s;
    background: rgba(181, 255, 121, 0.384);
}
.bubble li:nth-child(7) {
    width: 40px;
    height: 40px;
    left: 33%;
    animation-duration: 10s;
    animation-delay: 1s;
    background: rgba(71, 156, 22, 0.658);
}
@keyframes bubble-ani {
    0% {
        transform: translateY(5vh);
    }
    100% {
        transform: translateY(-55vh);
    }
}

// ======================燈箱======================
.product {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // overflow-y: auto;
    margin: auto auto;
    z-index: 99;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000007e;

    /* ========================== 商品 ========================== */
    div.pro_complete_box {
        // margin: 100px auto;
        z-index: 1;
        width: 50%;
        display: flex;
        margin: 200px auto;
        padding: 40px 0 0 0;
        // background-color: #fff;
        // background-image: url('/img/cartbac.png');
        // background-repeat: repeat-y;
        // background-size: 100%;
        position: relative;
        background: radial-gradient(
            200% 100% at bottom center,
            #9e4a62,
            #75517d,
            #1b2947
        );
    }

    div.close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 3%;
    }
    //=============================左半邊=============================

    div.pro_complete_left {
        // border: 1px solid red;
        width: 45%;
        z-index: 1;
        text-shadow: 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
    }
    div.pro_complete_photo {
        width: 60%;
        margin: 0 auto;
        position: relative;
    }
    div.pro_complete_price_box {
        border: 1px solid pink;
        border-radius: 20px;
        text-align: center;
        display: flex;
        width: 65%;
        margin: 20px auto;
        text-align: center;
        background-color: rgb(141, 52, 119);
    }
    div.pro_complete_price_box > img {
        width: 17%;
    }
    div.pro_complete_price {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        margin-left: 50px;
        color: #ffffff;
        text-shadow: 0 0 0.5em #ca4cca, 0 0 0.5em #ca4cca, 0 0 0.5em #ca4cca;
    }
    div.pro_complete_amount_box {
        display: flex;
        margin: 0 auto 20px auto;

        width: 65%;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
    div.pro_complete_text {
        font-size: 18px;
        color: #ffffff;
    }
    .butDec {
        color: rgb(0, 0, 0);
        background-color: rgb(184, 69, 155);
        border: 0px;
    }
    #quantity {
        width: 50%;
        font-size: 18px;
        text-align: center;
    }
    #min {
        font-size: 28px;
        width: 30%;
    }
    #addamount {
        font-size: 22px;
        width: 30%;
    }
    div.amount_input {
        display: flex;
        width: 40%;
    }

    //=============================右半邊=============================
    div.pro_complete_right {
        width: 55%;
        padding: 20px;
    }

    div.pro_complete_name_box {
        // margin-top: 10px;
        margin-bottom: 20px;
    }
    div.pro_complete_name {
        font-size: 28px;
        text-align: center;
        text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
        color: #ffffff;
    }
    div.pro_complete_content_box {
        margin-top: 10px;
        background-color: #ffffff1e;
        border-radius: 20px;
        padding: 15px;
    }
    div.content {
        font-size: 22px;
        line-height: 40px;
        text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
        color: #ffffff;
    }

    /* =========================購物車和直接購買============================ */
    div.addandbuy_box {
        // border: 1px solid black;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
    }
    span.addButton {
        font-size: 20px;
        background-color: #ffffff;
        padding: 5px;
        text-align: center;
        border: 3px solid #863186;
        border-radius: 15px;
        color: #863186;
    }
    span.buyButton {
        font-size: 20px;
        background-color: #ffffff;
        padding: 5px;
        text-align: center;
        border: 3px solid #863186;
        border-radius: 15px;
        color: #863186;
    }
}

// ====================== RWD ======================
@media (max-width: 1200px) {
    div.list_box {
        width: 80%;
    }
}
@media (max-width: 1062px) {
    div.list_box {
        width: 100%;
    }
    div.girl > img {
        width: 100%;
    }
}
@media (max-width: 910px) {
    div.pro_big_box2 {
        margin-top: 20px;
    }
    div.pro_big_box3 {
        margin-top: 20px;
    }
    div.girl > img {
        width: 100%;
    }
    div.pro_all {
        width: 16%;
    }
    div.pro_att {
        width: 16%;
    }
    div.pro_def {
        width: 16%;
    }
    div.pro_ass {
        width: 16%;
    }
}
@media (max-width: 850px) {
    div.list_box {
        width: 100%;
    }
    div.pro_all {
        width: 17%;
    }
    div.pro_att {
        width: 17%;
    }
    div.pro_def {
        width: 17%;
    }
    div.pro_ass {
        width: 17%;
    }
    div.box {
        width: 30%;
    }
    // div.pro_big_box1 {
    //     justify-content: space-around;
    // }
    div.allPro_box {
        width: 95%;
    }
}
@media (max-width: 768px) {
    div.list_box {
        justify-content: space-between;
    }
    div.pro_all {
        width: 20%;
    }
    div.pro_att {
        width: 20%;
    }
    div.pro_def {
        width: 20%;
    }
    div.pro_ass {
        width: 20%;
    }
}
@media (max-width: 672px) {
    div.girl {
        display: none;
    }

    .bubble li:nth-child(2) {
        width: 40px;
        height: 40px;
        left: 15%;
        animation-duration: 13s;
        animation-delay: 1s;
        background: rgba(28, 117, 42, 0.986);
    }

    .bubble li:nth-child(2) {
        width: 40px;
        height: 40px;
        left: 20%;
        animation-duration: 13s;
        animation-delay: 1s;
        background: rgba(20, 82, 29, 0.801);
    }
    .bubble li:nth-child(3) {
        width: 35px;
        height: 35px;
        left: 35%;
        animation-duration: 18s;
        animation-delay: 1.3s;
        background: rgba(253, 255, 182, 0.425);
    }

    .bubble li:nth-child(4) {
        width: 50px;
        height: 50px;
        left: 50%;
        animation-duration: 10s;
        animation-delay: 1s;
        background: rgba(71, 156, 22, 0.5);
    }

    .bubble li:nth-child(5) {
        width: 30px;
        height: 30px;
        left: 65%;
        animation-duration: 16s;
        animation-delay: 1.2s;
        background: rgba(31, 160, 6, 0.3);
    }

    .bubble li:nth-child(6) {
        width: 35px;
        height: 35px;
        left: 75%;
        animation-duration: 16s;
        animation-delay: 2s;
        background: rgba(181, 255, 121, 0.384);
    }
    .bubble li:nth-child(7) {
        width: 40px;
        height: 40px;
        left: 85%;
        animation-duration: 10s;
        animation-delay: 1s;
        background: rgba(71, 156, 22, 0.658);
    }
    div.pro_all {
        width: 22%;
    }
    div.pro_att {
        width: 22%;
    }
    div.pro_def {
        width: 22%;
    }
    div.pro_ass {
        width: 22%;
    }
    div.shop {
        width: 90%;
    }
}
@media (max-width: 376px) {
    div.list_box {
        width: 100%;
    }
    div.shop {
        width: 100%;
    }
}
////////
.count {
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}
body {
    position: relative;
}

//愛心開始
.center-content {
    position: absolute;
    top: -5%;
    left: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.heart {
    display: block;
    width: 1em;
    height: 1em;
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 10px;

    .heart-inner {
        &,
        &::before,
        &::after {
            background-color: white;
        }
    }

    &.loved .heart-inner {
        &,
        &::before,
        &::after {
            background-color: rgb(249, 48, 48);
        }
    }

    &.loved {
        animation: loved 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }
}

.heart-inner {
    display: block;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 1em;
        height: 1em;
        border-radius: 1em;
    }

    &::before {
        left: 0;
        top: -50%;
    }

    &::after {
        left: -50%;
        top: 0;
    }
}

@keyframes loved {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.6, 0.8);
    }

    35% {
        transform: scale(0.8, 0.6);
    }

    70% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}
//愛心結束
