@import '../style.scss';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background-image: url(../img/bg02.png);
    background-repeat: repeat;
    background-size: cover;
}

html {
    position: relative;
}

// 卷軸顏色

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1b2947;
}

//
div.shop_box {
    width: 90%;
    margin: 0 auto;
    display: flex;

    div.girl {
        width: 30%;
        z-index: -1;
        position: relative;
        @media (max-width: 672px) {
            display: none;
        }
        img {
            width: 80%;
            position: absolute;
            bottom: 0px;
            right: 0px;
            margin-bottom: 30px;
            @media (max-width: 1062px) {
                width: 100%;
            }
        }
    }
    .shop {
        width: 70%;
        // margin: 0 auto 20px auto;
        @media (max-width: 672px) {
            width: 90%;
            margin: 0 auto;
        }
        div.list_box {
            color: #ffffff;
            display: flex;
            width: 70%;
            margin: 20px auto 20px auto;

            justify-content: space-evenly;
            @media (max-width: 1200px) {
                width: 80%;
            }
            @media (max-width: 1062px) {
                width: 100%;
            }
            @media (max-width: 768px) {
                justify-content: space-between;
            }
            @media (max-width: 376px) {
                width: 100%;
            }
            div {
                cursor: pointer;
                opacity: 1;
                &:hover {
                    opacity: 0.6;
                }
                @media (max-width: 376px) {
                    font-size: 16px;
                    // border: 1px solid red;
                    width: 25%;
                    opacity: 1;
                }
            }
            div.pro_all {
                background-color: #863186;
                color: #ffffff;
                padding: 3px 5px 3px 5px;
                text-align: center;
                border: 3px solid #863186;
                border-radius: 15px;
                text-decoration: none;
                @media (max-width: 910px) {
                    width: 16%;
                }
                @media (max-width: 850px) {
                    width: 17%;
                }
                @media (max-width: 768px) {
                    width: 20%;
                }
                @media (max-width: 672px) {
                    width: 23%;
                }
                @media (max-width: 376px) {
                    width: 28%;
                }
            }
            div.pro_att {
                background-color: #ffffff;
                color: #863186;
                width: 12%;
                padding: 3px 5px 3px 5px;
                text-align: center;
                border: 3px solid #863186;
                border-radius: 15px;
                text-decoration: none;
                @media (max-width: 910px) {
                    width: 16%;
                }
                @media (max-width: 850px) {
                    width: 17%;
                }
                @media (max-width: 768px) {
                    width: 20%;
                }
                @media (max-width: 672px) {
                    width: 23%;
                }
            }
            div.pro_def {
                background-color: #ffffff;
                color: #863186;
                width: 12%;
                padding: 3px 5px 3px 5px;
                text-align: center;
                border: 3px solid #863186;
                border-radius: 15px;
                text-decoration: none;
                @media (max-width: 910px) {
                    width: 16%;
                }
                @media (max-width: 850px) {
                    width: 17%;
                }
                @media (max-width: 768px) {
                    width: 20%;
                }
                @media (max-width: 672px) {
                    width: 23%;
                }
            }
            div.pro_ass {
                background-color: #ffffff;
                color: #863186;
                width: 12%;
                padding: 3px 5px 3px 5px;
                text-align: center;
                border: 3px solid #863186;
                border-radius: 15px;
                text-decoration: none;
                @media (max-width: 910px) {
                    width: 16%;
                }
                @media (max-width: 850px) {
                    width: 17%;
                }
                @media (max-width: 768px) {
                    width: 20%;
                }
                @media (max-width: 672px) {
                    width: 23%;
                }
            }
        }
    }
}

/* ===================================全部商品=================================== */

div.allPro_box {
    width: 90%;
    display: flex;
    // padding: 20px;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    @media (max-width: 500px) {
        width: 100%;
        justify-content: space-evenly;
    }
}

div.pro_big_box1 {
    display: flex;
    width: 80%;
    align-items: flex-end;
    // justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 500px) {
        width: 100%;
    }
}
div.pro_pricebox {
    padding-bottom: 10px;
    margin-bottom: 20px;
}
div.pro_name,
div.pro_price {
    width: 100%;
    margin: 0 auto;
}
div.pro_name {
    margin-top: 10px;
    opacity: 1;
    &:hover {
        opacity: 0.6;
    }
}
div.pro_price {
    margin-top: 10px;
}
div.box {
    color: #ffffff;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-shadow: 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
    cursor: pointer;

    @media (max-width: 850px) {
        width: 30%;
    }
}
div.pro_photo {
    font-size: 0;
    width: 52%;
    // width: 100%;
    margin: 0 auto;
    opacity: 1;
    &:hover {
        opacity: 0.6;
    }
    @media (max-width: 991px) {
        width: 60%;
    }
    @media (max-width: 746px) {
        width: 90%;
    }
    @media (max-width: 500px) {
        width: 80%;
    }
}

/* ===================================泡泡=================================== */
.bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    z-index: -1;
    transform: translateZ(0);
}

.bubble li {
    position: absolute;
    list-style: none;
    display: block;
    bottom: -100px;
    animation: bubble-ani 15s linear infinite;
    border-radius: 100%;
}
.bubble li:before {
    position: absolute;
    left: 20%;
    top: 21%;
    width: 25%;
    content: '';
    background: rgba(255, 255, 255, 0.3);
    display: block;
    height: 25%;
    border-radius: 100%;
}

.bubble li:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 7%;
    background: rgba(66, 180, 85, 0.3);
}

.bubble li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 13s;
    animation-delay: 1s;
    background: rgba(28, 117, 42, 0.986);
}

.bubble li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 13s;
    animation-delay: 1s;
    background: rgba(28, 117, 41, 0.801);
}
.bubble li:nth-child(3) {
    width: 35px;
    height: 35px;
    left: 15%;
    animation-duration: 18s;
    animation-delay: 1.3s;
    background: rgba(253, 255, 182, 0.425);
}

.bubble li:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 10s;
    animation-delay: 1s;
    background: rgba(71, 156, 22, 0.5);
}

.bubble li:nth-child(5) {
    width: 30px;
    height: 30px;
    left: 23%;
    animation-duration: 16s;
    animation-delay: 1.2s;
    background: rgba(31, 160, 6, 0.3);
}

.bubble li:nth-child(6) {
    width: 35px;
    height: 35px;
    left: 29%;
    animation-duration: 16s;
    animation-delay: 2s;
    background: rgba(181, 255, 121, 0.384);
}
.bubble li:nth-child(7) {
    width: 40px;
    height: 40px;
    left: 33%;
    animation-duration: 10s;
    animation-delay: 1s;
    background: rgba(71, 156, 22, 0.658);
}
@keyframes bubble-ani {
    0% {
        transform: translateY(5vh);
    }
    100% {
        transform: translateY(-55vh);
    }
}

// ======================燈箱======================
.product {
    // display: block;
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // overflow-y: auto;
    margin: auto auto;
    z-index: 20;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000007e;

    /* ========================== 商品 ========================== */
    div.pro_complete_box {
        // margin: 100px auto;
        z-index: 1;
        width: 50%;
        display: flex;
        margin: 200px auto;
        padding: 40px 0 0 0;
        // background-color: #fff;
        // background-image: url('/img/cartbac.png');
        // background-repeat: repeat-y;
        // background-size: 100%;
        position: relative;
        background: radial-gradient(
            200% 100% at bottom center,
            #9e4a62,
            #75517d,
            #1b2947
        );
        @media (max-width: 1120px) {
            padding: 40px 20px 0px 10px;
        }
        @media (max-width: 1018px) {
            flex-direction: column;
        }
        @media (max-width: 787px) {
            width: 60%;
        }
        @media (max-width: 635px) {
            width: 70%;
        }
        @media (max-width: 522px) {
            width: 75%;
            margin: 150px auto;
        }
        @media (max-width: 379px) {
            width: 80%;
        }
    }

    div.close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 3%;
        cursor: pointer;
        @media (max-width: 500px) {
            width: 5%;
        }
    }
    //=============================左半邊=============================

    div.pro_complete_left {
        // border: 1px solid red;
        width: 45%;
        z-index: 1;
        // text-shadow: 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
        @media (max-width: 1018px) {
            margin: 0 auto;
            width: 80%;
        }
        @media (max-width: 500px) {
            width: 90%;
        }
        @media (max-width: 376px) {
            width: 90%;
            margin-left: 20px;
        }
    }
    div.pro_complete_photo {
        width: 50%;
        margin: 0 auto;
        position: relative;
        @media (max-width: 536px) {
            width: 60%;
        }
    }
    div.pro_complete_price_box {
        border: 1px solid pink;
        border-radius: 20px;
        text-align: center;
        display: flex;
        width: 65%;
        margin: 20px auto;
        text-align: center;
        background-color: rgb(141, 52, 119);
    }
    div.pro_complete_price_box > img {
        width: 40px;
    }
    div.pro_type_box {
        border-radius: 20px;
        display: flex;
        width: 40%;
        margin: 20px auto;

        font-size: 20px;
        justify-content: space-evenly;
    }
    div.type_ani {
        text-align: center;
        align-items: center;
        text-shadow: 0 0 0.2em #e96f92, 0 0 0.2em#e96f92, 0 0 0.2em#e96f92;
        color: #ffffff;
    }
    div.pro_type_box > img {
        width: 25px;
    }
    div.pro_complete_price {
        text-align: center;
        position: relative;
        font-size: 20px;
        padding: 10px;
        left: 18%;
        align-items: center;
        color: #ffffff;
        text-shadow: 0 0 0.5em #ca4cca, 0 0 0.5em #ca4cca, 0 0 0.5em #ca4cca;
    }
    div.pro_complete_amount_box {
        display: flex;
        margin: 0 auto 20px auto;
        align-items: center;
        text-align: center;
        width: 65%;
        justify-content: space-evenly;
    }
    div.pro_complete_text {
        font-size: 18px;
        color: #ffffff;
        text-shadow: 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
        align-items: center;
        text-align: center;
    }
    .butDec {
        color: rgb(0, 0, 0);
        background-color: rgb(184, 69, 155);
        border: 0px;
    }
    #quantity {
        // width: 50%;
        height: 29px;
        width: 100px;
        font-size: 20px;
        display: flex;
        background-color: #ffffff;
        color: #000000;

        align-items: center;
        text-align: center;
        span {
            margin: 0 auto;
        }
    }
    #min {
        font-size: 22px;
        width: 25%;
    }
    #addamount {
        font-size: 24px;
        width: 25%;
    }

    div.amount_input {
        display: flex;
        width: 60%;
        align-items: center;
        text-align: center;
        // height: 28px;
    }

    //=============================右半邊=============================
    div.pro_complete_right {
        width: 55%;
        padding: 20px;
        @media (max-width: 1018px) {
            margin: 0 auto;
            width: 80%;
            padding: 10px;
        }
        @media (max-width: 500px) {
            width: 90%;
        }
        @media (max-width: 376px) {
            width: 90%;
            margin-left: 20px;
        }
    }

    div.pro_complete_name_box {
        // margin-top: 10px;
        margin-bottom: 20px;
    }
    div.pro_complete_name {
        font-size: 28px;
        text-align: center;
        text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
        color: #ffffff;
    }
    div.pro_complete_content_box {
        margin-top: 10px;
        background-color: #ffffff1e;
        border-radius: 20px;
        padding: 15px;
    }
    div.content {
        font-size: 22px;
        line-height: 40px;
        text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
        color: #ffffff;
        @media (max-width: 376px) {
            font-size: 18px;
        }
    }

    /* =========================購物車和直接購買============================ */
    div.addandbuy_box {
        // border: 1px solid black;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
    }
    span.addButton {
        font-size: 20px;
        background-color: #ffffff;
        padding: 5px;
        text-align: center;
        border: 3px solid #863186;
        border-radius: 15px;
        color: #863186;
        cursor: pointer;
        @media (max-width: 376px) {
            font-size: 18px;
        }
    }
    .buyButton {
        font-size: 20px;
        background-color: #ffffff;
        padding: 5px;
        text-align: center;
        border: 3px solid #863186;
        border-radius: 15px;
        color: #863186;
        cursor: pointer;
        text-decoration: none;
        @media (max-width: 376px) {
            font-size: 18px;
        }
    }
}

// ====================== RWD ======================

@media (max-width: 850px) {
    div.allPro_box,
    div.attPro_box,
    div.defPro_box,
    div.assPro_box {
        width: 95%;
    }
}

@media (max-width: 672px) {
    .bubble li:nth-child(2) {
        width: 40px;
        height: 40px;
        left: 15%;
        animation-duration: 13s;
        animation-delay: 1s;
        background: rgba(28, 117, 42, 0.986);
    }

    .bubble li:nth-child(2) {
        width: 40px;
        height: 40px;
        left: 20%;
        animation-duration: 13s;
        animation-delay: 1s;
        background: rgba(20, 82, 29, 0.801);
    }
    .bubble li:nth-child(3) {
        width: 35px;
        height: 35px;
        left: 35%;
        animation-duration: 18s;
        animation-delay: 1.3s;
        background: rgba(253, 255, 182, 0.425);
    }

    .bubble li:nth-child(4) {
        width: 50px;
        height: 50px;
        left: 50%;
        animation-duration: 10s;
        animation-delay: 1s;
        background: rgba(71, 156, 22, 0.5);
    }

    .bubble li:nth-child(5) {
        width: 30px;
        height: 30px;
        left: 65%;
        animation-duration: 16s;
        animation-delay: 1.2s;
        background: rgba(31, 160, 6, 0.3);
    }

    .bubble li:nth-child(6) {
        width: 35px;
        height: 35px;
        left: 75%;
        animation-duration: 16s;
        animation-delay: 2s;
        background: rgba(181, 255, 121, 0.384);
    }
    .bubble li:nth-child(7) {
        width: 40px;
        height: 40px;
        left: 85%;
        animation-duration: 10s;
        animation-delay: 1s;
        background: rgba(71, 156, 22, 0.658);
    }
}

// 購物車數字
.num_icon {
    // display: block;
    cursor: pointer;
    position: absolute;
    top: 50px;
    // right: 40px;
    right: 2.7%;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #dc52ffc0;
    text-shadow: 0 0 0.2em #87f, 0 0 0.2em #87f, 0 0 0.2em #87f;
    color: #ffffff;
    font-weight: bold;
    line-height: 16px;
    z-index: 999;
    font-size: 18px;
    @media (max-width: 701px) {
        right: 12%;
        top: 6%;
    }
    @media (max-width: 570px) {
        right: 14%;
    }
    @media (max-width: 376px) {
        right: 17%;
        top: 6.5%;
    }
    .num_text {
        // border: 1px solid red;
        text-align: center;
        cursor: pointer;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 25%;
    }
}

// scroll更改數字位置
.-icon {
    position: sticky;
    top: 50px;
    left: 96%;
    @media (max-width: 1323px) {
        left: 95.5%;
    }
    @media (max-width: 1049px) {
        left: 95%;
    }
    @media (max-width: 833px) {
        left: 94.5%;
    }
    @media (max-width: 701px) {
        left: 85%;
    }
    @media (max-width: 626px) {
        left: 84%;
    }
    @media (max-width: 561px) {
        left: 83%;
    }
    @media (max-width: 518px) {
        left: 82%;
    }
    @media (max-width: 501px) {
        left: 81.5%;
    }
    @media (max-width: 376px) {
        left: 77.5%;
    }
}

// //愛心開始

svg {
    display: block;
}

.container {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
}

@keyframes spring {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(0.85);
    }

    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes squeeze {
    0% {
        transform: scale(1, 1) translate(0px, 0px);
    }

    20% {
        transform: scale(1.2, 0.8) translate(0px, 3px);
    }

    40% {
        transform: scale(0.8, 1.15) translate(0px, -1px);
    }

    80% {
        transform: scale(1.1, 0.9) translate(0px, 2px);
    }

    100% {
        transform: scale(1, 1) translate(0px, 0px);
    }
}

.fav {
    cursor: pointer;
}

.fav-1 {
    @extend .fav;
    path {
        transition: stroke 0.2s 0.2s ease-in, fill 0.2s 0.2s ease-in,
            transform 0.4s ease-out;
        transform-origin: 50% 50%;
    }
    &.clicked {
        path {
            fill: #bf2030;
            stroke: #bf2030;
            transform: rotateY(360deg);
        }
    }
}

// 全部商品的頁數

.pagebutton {
    margin: 10px auto 0 auto;
    width: 100%;
    display: flex;
    // background-image: url('./img/star2.png');
    .page_box {
        width: 30%;

        margin: 0 auto;
        text-align: center;
        @media (max-width: 376px) {
            width: 70%;
        }
    }
    button {
        width: 30px;
        height: 30px;
        // background-color: rgba(248, 206, 213, 0.507);
        // color: #f5f5c7;
        border: 0px;
        font-size: 18px;
        font-weight: bold;
        text-shadow: 0 0 0.3em #e96f92, 0 0 0.3em#e96f92, 0 0 0.3em #e96f92;
        background: none;
        cursor: pointer;
        opacity: 1;
        outline: none;

        &:hover {
            opacity: 0.6;
        }
    }
}

.btnActive {
    color: #f5f5c7;
}
.btnActiveFirst {
    color: #f5f5c7;
}
