* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background-image: url(../img/bg02.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
html {
    position: relative;
}
div.shop_box {
    width: 90%;

    margin: 0 auto;
    display: flex;
}
div.shop {
    width: 70%;
    margin: 0 auto 20px auto;
}
div.girl > img {
    // height: 400px;
    // margin-top: 160px;
    width: 75%;
    margin: 100px auto auto 90px;
}
div.girl {
    width: 30%;
    z-index: -1;
}
div.list_box {
    color: #ffffff;
    display: flex;
    width: 70%;
    font-size: 20px;
    margin: 30px auto 20px auto;
    justify-content: space-evenly;
}
div.pro_all {
    background-color: #ffffff;
    color: #863186;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}

div.pro_att {
    background-color: #ffffff;
    color: #863186;
    width: 12%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}
div.pro_def {
    background-color: #ffffff;
    color: #863186;
    width: 12%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}
div.pro_ass {
    background-color: #ffffff;
    color: #863186;
    width: 12%;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
}

/* ===================================全部商品=================================== */

div.allPro_box {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
div.attPro_box {
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 0 auto;
}
div.defPro_box {
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 0 auto;
}
div.assPro_box {
    width: 80%;
    display: none;
    flex-direction: column;
    margin: 0 auto;
}
div.pro_big_box1 {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
div.pro_big_box2 {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
div.pro_big_box3 {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
}
div.pro_name,
div.pro_price {
    width: 100%;
    margin: 0 auto;
}
div.pro_price {
    margin-top: 10px;
}
div.box {
    color: #ffffff;
    width: 20%;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    text-shadow: 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
}
div.pro_photo {
    font-size: 0;
    width: 70%;
    margin: 0 auto;
}

/* ===================================攻擊商品=================================== */

/* ===================================泡泡=================================== */
.bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    z-index: -1;
    transform: translateZ(0);
}

.bubble li {
    position: absolute;
    list-style: none;
    display: block;
    bottom: -100px;
    animation: bubble-ani 15s linear infinite;
    border-radius: 100%;
}
.bubble li:before {
    position: absolute;
    left: 20%;
    top: 21%;
    width: 25%;
    content: '';
    background: rgba(255, 255, 255, 0.3);
    display: block;
    height: 25%;
    border-radius: 100%;
}

.bubble li:nth-child(1) {
    width: 30px;
    height: 30px;
    left: 7%;
    background: rgba(66, 180, 85, 0.3);
}

.bubble li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 13s;
    animation-delay: 1s;
    background: rgba(28, 117, 42, 0.986);
}

.bubble li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 13s;
    animation-delay: 1s;
    background: rgba(28, 117, 41, 0.801);
}
.bubble li:nth-child(3) {
    width: 35px;
    height: 35px;
    left: 15%;
    animation-duration: 18s;
    animation-delay: 1.3s;
    background: rgba(253, 255, 182, 0.425);
}

.bubble li:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 20%;
    animation-duration: 10s;
    animation-delay: 1s;
    background: rgba(71, 156, 22, 0.5);
}

.bubble li:nth-child(5) {
    width: 30px;
    height: 30px;
    left: 23%;
    animation-duration: 16s;
    animation-delay: 1.2s;
    background: rgba(31, 160, 6, 0.3);
}

.bubble li:nth-child(6) {
    width: 35px;
    height: 35px;
    left: 29%;
    animation-duration: 16s;
    animation-delay: 2s;
    background: rgba(181, 255, 121, 0.384);
}
.bubble li:nth-child(7) {
    width: 40px;
    height: 40px;
    left: 33%;
    animation-duration: 10s;
    animation-delay: 1s;
    background: rgba(71, 156, 22, 0.658);
}

@keyframes bubble-ani {
    0% {
        transform: translateY(5vh);
    }
    100% {
        transform: translateY(-55vh);
    }
}

// ======================燈箱======================
.product {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // overflow-y: auto;
    margin: auto auto;
    z-index: 99;
    opacity: 1;

    /* width: 75%; */
    // // margin-left: 70px;
    // height: 580px;
    // width: 920px;
    // position: relative;
    // display: flex;
    /* border: 3px solid red; */
    // display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0000007e;

    /* ========================== 商品 ========================== */
    div.pro_complete_box {
        // margin: 100px auto;
        z-index: 1;
        width: 50%;
        display: flex;
        margin: 200px auto;
        padding: 40px 0 0 0;
        // background-color: #fff;
        background-image: url('/img/cartbac.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;
    }
    div.close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 3%;
    }
    //=============================左半邊=============================

    div.pro_complete_left {
        // border: 1px solid red;
        width: 50%;
        z-index: 1;
        text-shadow: 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
    }
    div.pro_complete_photo {
        width: 60%;
        margin: 0 auto;
    }
    div.pro_complete_price_box {
        border: 1px solid pink;
        border-radius: 20px;
        text-align: center;
        display: flex;
        width: 65%;
        margin: 20px auto;
        text-align: center;
        background-color: rgb(141, 52, 119);
    }
    div.pro_complete_price_box > img {
        width: 16%;
    }
    div.pro_complete_price {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        margin-left: 50px;
        color: #ffffff;
        text-shadow: 0 0 0.5em #ca4cca, 0 0 0.5em #ca4cca, 0 0 0.5em #ca4cca;
    }
    div.pro_complete_amount_box {
        display: flex;
        margin: 0 auto 20px auto;

        width: 65%;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
    div.pro_complete_text {
        font-size: 18px;
        color: #ffffff;
    }
    .butDec {
        color: rgb(0, 0, 0);
        background-color: rgb(184, 69, 155);
        border: 0px;
    }
    #quantity {
        width: 50%;
        font-size: 18px;
        text-align: center;
    }
    #min {
        font-size: 28px;
        width: 30%;
    }
    #addamount {
        font-size: 22px;
        width: 30%;
    }
    div.amount_input {
        display: flex;
        width: 40%;
    }

    //=============================右半邊=============================
    div.pro_complete_right {
        width: 50%;
    }
    div.pro_complete_name_box {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    div.pro_complete_name {
        font-size: 28px;
        text-align: center;
        text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
        color: #ffffff;
    }
    div.pro_complete_content_box {
        margin-top: 10px;
    }
    div.content {
        font-size: 22px;
        line-height: 55px;
        text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
        color: #ffffff;
    }

    /* =========================購物車和直接購買============================ */
    div.addandbuy_box {
        // border: 1px solid black;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
    }
    span.addButton {
        font-size: 20px;
        background-color: #ffffff;
        padding: 5px;
        text-align: center;
        border: 3px solid #863186;
        border-radius: 15px;
        color: #863186;
    }
    span.buyButton {
        font-size: 20px;
        background-color: #ffffff;
        padding: 5px;
        text-align: center;
        border: 3px solid #863186;
        border-radius: 15px;
        color: #863186;
    }
}
