@import '../style';

* {
    box-sizing: border-box;
}
li {
    list-style-type: none;
}

p {
    font-size: $p;
}
h1 {
    font-size: $h1;
}
h2 {
    font-size: $h2;
}
h3 {
    font-size: $h3;
}
h4 {
    font-size: $h4;
}
h5 {
    font-size: $h5;
}

body {
    width: 100%;
    background-image: url(../img/membg_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
a {
    text-decoration: none !important;
}

// header
#memInfo {
    font-size: 18px;
    font-family: 'Noto-Sans';
    letter-spacing: 1px;
    display: block;
    width: 100px;
    position: absolute;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3;
}
header nav .menu_toggle .nav-right li #logout {
    width: 135px;
    text-align: center;
    padding: 0 10px;
}

.membtn {
    color: ivory;
    border: 1px solid ivory;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
}
.membtn:hover {
    background-color: ivory;
    color: black;
}

//會員資料上方區塊
.memTopOut {
    width: 100%;
}
.memTop {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0.4em ivory;
    background-color: #7200ca47;
    // background-color: rgba(255, 255, 255, 0.315);
    .memTopUp {
        display: flex;
        justify-content: space-between;
        .mempic {
            width: 40%;
            text-align: center;
        }
        .mempic > img {
            width: 50%;
            border-radius: 50%;
        }
    }
}
.memdata {
    // border: 1px solid blue;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    @include textShadowMem;

    .memName,
    .memId,
    .memPoint,
    .memMail {
        display: flex;
        .memdataTitle {
            width: 30%;
            text-align: center;
        }
    }
}

// ==========會員進度條開始==========

.memLevel {
    width: 100%;
    margin: 1rem auto;
}

.memLevProgress {
    width: 80%;
    margin: 0 auto;
}
.memLevTitle,
.memCourseTimes {
    width: 80%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    color: ivory;
    @include textShadowMem;
}
.memClassNam {
    width: 80%;
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: center;
    color: ivory;
    @include textShadowMem;
}

@media (max-width: 992px) {
    .memTop {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .memTop {
        width: 98%;
        padding: 5px;
        .memTopUp {
            padding: 0;
            .mempic {
                width: 45%;
                display: flex;
                justify-content: center;
                .img {
                    width: 100%;
                }
            }
            .memdata {
                width: 70%;
                font-size: 14px;
                .memdataTitle {
                    width: 35%;
                }
            }
        }
    }
}
@media (max-width: 576px) {
    h5 {
        font-size: 17px;
    }
    .memTop {
        width: 95%;
        padding: 10px;
        .memTopUp {
            width: 100%;
            flex-direction: column;
            .mempic {
                width: 80%;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
            .memdata {
                width: 100%;
                margin: 0 auto;
                .memName,
                .memId,
                .memPoint,
                .memMail {
                    width: 100%;
                    display: flex;
                    margin-bottom: 10px;
                    .memdataTitle {
                        // border: 1px solid red;
                        width: 35%;
                    }
                    .memdataContent {
                        width: 55%;
                    }
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .memdata {
        margin: 0;
        .memdataTitle {
            text-align: left;
            width: 35%;
        }
    }
}

// ==========選單切換開始==========
.memMenu {
    width: 100%;
    margin: 3rem auto;
    .memMenuOut {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        i {
            margin: auto 5px;
        }

        .meunItem {
            border: 1px solid ivory;
            color: ivory;
            box-shadow: 0 0 0.4em ivory;
            cursor: pointer;
            padding: 12px 15px;
            font-size: 20px;
        }
        .meunItem:hover,
        .meunItem_on {
            background-color: ivory;
            color: black;
        }
    }
}

.memClassOut,
.memKeepOut,
.memOrderOut,
.memInfoOut {
    width: 100%;
}
.memContent {
    // background-color: rgba(255, 255, 255, 0.315);
    background-color: #7200ca47;
    width: 80%;
    margin: 1rem auto;
    padding: 10px;
    box-shadow: 0 0 0.4em ivory;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .memMenuOut {
        width: 90%;
    }
    .memContent {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .memMenuOut {
        width: 98%;
        button {
            padding: 5px 10px;
        }
    }
    .memContent {
        width: 98%;
    }
}
@media (max-width: 576px) {
    .memMenuOut {
        width: 95%;
        button {
            padding: 3px 5px;
            font-size: 18px;
            i {
                width: 100%;
            }
        }
    }

    .memContent {
        width: 95%;
    }
}

.memMainAreaClass {
    // border: 1px solid white;
    box-shadow: 0 0 0.4em ivory;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    display: flex;
    .memMainItem {
        border: 1px solid ivory;
        width: 50%;
        padding: 10px;
        cursor: pointer;
        color: ivory;
    }
    .memMainItem:hover {
        opacity: 0.8;
    }
    .active {
        background-color: #fff;
        color: black;
    }
}

@media (max-width: 576px) {
    .memMainAreaClass {
        width: 90%;
        #courseDate,
        #courseStatus {
            h3 {
                font-size: 20px;
            }
        }
    }
}

//日曆
.courseDate {
    color: white;
    @include textShadowMem;
}

//--------fullcalendar---------
.fc-view-harness {
    background-color: rgba(170, 170, 170, 0.5) !important;
}

.fc-today-button,
.fc-dayGridMonth-button {
    border-radius: 5px !important;
    margin: auto 10px !important;
    background-color: none !important;
    box-shadow: 0 0 0.4em white, 0 0 0.4em white, 0 0 0.4em white !important;
}
.fc-prev-button,
.fc-next-button {
    border-radius: 5px !important;
    margin: auto 3px !important;
    background-color: none !important;
    box-shadow: 0 0 0.4em white, 0 0 0.4em white, 0 0 0.4em white !important;
}

//多餘的class
// .fc--button,
// .fc-addRoom-button,
// .fc-addReservation-button,
// .fc-timeGridWeek-button,
// .fc-timeGridDay-button
// {
//   display: none !important;
// }

@media (max-width: 576px) {
    .fc-today-button {
        // margin: 10px auto !important;
        width: 55px !important;
        padding: 0 5px !important;
        margin: 0 !important;
    }
    .fc-prev-button,
    .fc-next-button {
        // border: 1px solid red !important;
        padding: 0 !important;
        width: 25px !important;
        margin: 0 5px !important;
    }
}

//------課程狀態頁籤開始--------
.courseStatusDetailOut {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 0.4em ivory;
}

.courseStatus {
    width: 80%;
    margin: 1rem auto;
    .coursemenuItem:hover {
        background-color: rgba(128, 0, 128, 0.6);
    }
    .active {
        text-shadow: 0 0 0.2em rgb(211, 211, 65), 0 0 0.4em rgb(214, 29, 183), 0 0 0.3em #5f93c4;
        background-color: rgba(170, 170, 170, 0.5);
    }
}

.CRD {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px dotted ivory;
}
.CFD_Top {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.CFD_Out {
    display: flex;
    flex-direction: column;
}

.courseRegDetail,
.courseFinishDetail,
.courseIngDetail {
    padding: 10px;
}

#tab > ul {
    display: flex;
}

#tab > ul > li {
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.tab-content-1,
.tab-content-2,
.tab-content-3 {
    background-color: rgba(170, 170, 170, 0.5);
}

.CRD_Text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 3rem;
    padding: 10px;
    @include textShadowMem;
    .CRD_TextCon {
        text-align: left;
    }
}
.courseCancel {
    position: relative;
    width: 15%;
}

@media (max-width: 992px) {
    .courseStatus {
        width: 95%;
    }
}
@media (max-width: 768px) {
    .courseStatus {
        width: 100%;
    }

    .CRD {
        .CRD_pic {
            width: 30%;
            img {
                width: 100%;
            }
        }
        .CRD_Text {
            width: 50%;
        }
        .courseCancel {
            width: 20%;
        }
    }
}

@media (max-width: 576px) {
    .courseStatus {
        #tab {
            ul {
                li {
                    width: calc(100% / 3);
                    h4 {
                        text-align: center;
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .CRD {
        flex-direction: column;
        .CRD_pic {
            width: 50%;
        }
        .CRD_Text {
            width: 100%;
        }
        .courseCancel {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

// --------已完課--------
.lightbox_black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    .lightbox {
        position: absolute;
        background-color: #d1bee8;
        box-shadow: 0 0 0.4em ivory;
        padding: 30px;
        border-radius: 10px;
        text-align: center;
        width: 600px;
        height: 400px;
        align-items: center;
        font-size: 18px;
        .manager_lightbox_close {
            margin-bottom: 50px;
            img {
                position: absolute;
                width: 25px;
                top: 15px;
                right: 15px;
                color: rgba(128, 128, 128, 0.46);
                cursor: pointer;
            }
        }
        .CRD_Text {
            width: 100%;
            .CRD_TextTit {
                text-align: left;
            }
        }
        .commText {
            width: 100%;
            .stars {
                margin: auto auto 10px 20px;
            }
        }
    }
}

.CFD_commTitle {
    color: ivory;
    padding: 5px;
    text-align: center;
    @include textShadowMem;
}

.CFD_commText > form {
    font-size: 24px;
}
.CFD_commText > form > input {
    width: 80%;
}

//評論課程(點選icon切換)

.CFD_commText button,
input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    box-shadow: none;
    outline: none;
}

#input-container,
#button-container {
    display: inline-block;
    font-size: 18px;
}

#input-container {
    background: white;
    padding: 4px;
    border-radius: 6px;
    position: relative;
    // border: 1px solid red;
    input {
        width: 450px;
    }
}

#input-container:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 12px solid white;
    border-right: 12px solid transparent;
    border-left: 0 solid transparent;
    position: absolute;
    top: 0;
}

#button-container {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-left: 6px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

#button-container.show .send {
    width: 36px;
    height: 36px;
    font-size: 18px;
    top: 0;
    left: 0;
    background: #0091ea;
}

#button-container > button {
    width: 36px;
    height: 36px;
    font-size: 18px;
    color: white;
}

#button-container > button.user {
    background: #00c853;
}

#button-container > button.send {
    background: none;
    position: absolute;
    top: 18px;
    left: 18px;
    width: 0;
    height: 0;
    font-size: 0;
    text-indent: -2px;
    transition: all 0.2s;
    border-radius: 50%;
}
@media (max-width: 1200px) {
    #input-container {
        input {
            width: 400px;
        }
    }
}
@media (max-width: 768px) {
    .CFD_Out {
        .CFD_Top {
            align-items: center;
            justify-content: center;
            .CRD_pic {
                width: 30%;
                img {
                    width: 100%;
                }
            }
            .CRD_Text {
                padding: 0px;
                width: 60%;
            }
        }
    }
    #input-container {
        input {
            width: 300px;
        }
    }
}
@media (max-width: 576px) {
    .CFD_Out {
        .CFD_Top {
            width: 65%;
            margin: 0 auto;
            flex-direction: column;
            .CRD_pic {
                width: 100%;
                img {
                    width: 75%;
                }
            }
            .CRD_Text {
                width: 100%;
            }
        }
    }

    .CFD_Bottom {
        // text-align: center;
        width: 100%;
        .CFD_BottomComm {
            width: 100%;
            align-items: center;
            .CFD_commTitle {
                width: 90%;
            }
            .CFD_commStar {
                width: 85%;
            }
            .rating {
                width: 100%;
            }
        }
    }
    #input-container {
        input {
            width: 250px;
        }
    }
}

//-------我的收藏------
#memKeepTitle > ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    .memkeepmenu {
        padding: 10px 20px;
        color: white;
        cursor: pointer;
    }
    .memkeepmenu:hover {
        background-color: rgba(128, 0, 128, 0.6);
    }
    .active {
        background-color: rgba(170, 170, 170, 0.5);
        text-shadow: 0 0 0.2em rgb(211, 211, 65), 0 0 0.4em rgb(214, 29, 183), 0 0 0.3em #5f93c4;
    }
}

.memKeepCourse,
.memKeepPro {
    background-color: rgba(170, 170, 170, 0.5);
    width: 80%;
    margin: 0 auto;
}

.memKeepCourseBtn {
    width: 30%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.MKP_pic {
    // position: relative;
    text-align: center;
    width: 50%;
}
.MKP_pic > img {
    // position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
}

@media (max-width: 1200px) {
    .memKeepContent {
        .memKeepCourse {
            .CRD {
                .CRD_pic {
                    padding: 20px;
                    width: 40%;
                }
            }
        }
    }
    .memKeepCourseBtn {
        flex-direction: column;
        width: 20%;
        button {
            margin: 10px auto;
        }
    }
}
@media (max-width: 992px) {
    #memKeepTitle {
        width: 95%;
        // border: 1px solid blue;
        margin: 0 auto;
        ul {
            width: 100%;
        }
    }
    .memKeepCourse,
    .memKeepPro {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .memKeepPro {
        .CRD {
            .MKP_pic {
                width: 30%;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #memKeepTitle {
        ul {
            li {
                width: 50%;
                text-align: center;
            }
        }
    }
    .memKeepContent {
        .memKeepCourse {
            .CRD {
                .CRD_pic {
                    width: 70%;
                }
            }
        }
    }
    .memKeepCourseBtn {
        flex-direction: row;
        width: 100%;
        margin-bottom: 10px;
    }
}

//-------歷史訂單------
//切換箭頭圖片
.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrow.png);
}
.memOrederList {
    width: 100%;
    text-shadow: 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;
}
.MOL_textbox {
    // border: 1px solid red;
    color: white;
    width: 95%;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin: 20px 15px;
    text-align: center;
    .orederNo {
        // border: 1px solid green;
        width: 16%;
        // flex-grow: 1;
    }
    .orderPay {
        // border: 1px solid blue;
        width: 25%;
        // flex-grow: 1;
    }
    .orderAddress {
        // border: 1px solid orange;
        width: 40%;
        // flex-grow: 1;
    }
    .orderTotal {
        // border: 1px solid pink;
        width: 20%;
        // flex-grow: 1;
    }
}
//預設顯示欄位寬度
.accordion {
    .accordion-item {
        width: 100%;
        .accordion-header {
            width: 100%;
            .accordion-button {
                // border: 1px solid black;
                width: 100%;
                > div {
                    width: 100% !important;
                }
                .MOL_Contentbox {
                    display: flex;
                    width: 100%;
                    // border: 1px solid red;
                    .orederNo {
                        // border: 1px solid green;
                        width: 15% !important;
                    }
                    .orderPay {
                        // border: 1px solid blue;
                        width: 25% !important;
                    }
                    .orderAddress {
                        // border: 1px solid orange;
                        width: 40% !important;
                    }
                    .orderTotal {
                        // border: 1px solid pink;
                        width: 20% !important;
                    }
                }
            }
        }
    }
}

// 主選單內容先隱藏
.MOL_Intextbox {
    display: none;
}

// 訂單內容
.MOL_Contentbox {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    @include textShadowMem;
}

@media (max-width: 992px) {
    .memOrederList {
        h4 {
            font-size: 20px;
        }
    }
}
.memOrderContent {
    .MOC_top {
        h4 {
            font-size: 20px;
        }
    }
}
@media (max-width: 768px) {
    .memOrederList {
        h4 {
            font-size: 18px;
        }
    }
    .MOL_Contentbox {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .memOrederList {
        display: none;
    }
    .accordion-item {
        width: 100%;
        .accordion-header {
            width: 100%;
            display: flex;
            .accordion-button {
                width: 100%;
                color: white;
                text-shadow: 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;
                .MOL_Intextbox {
                    // border: 1px solid red;
                    text-align: left;
                    width: 100%;
                    font-size: 16px;
                    margin: 10px auto;
                    display: flex;
                    flex-direction: column;
                    .orederNo,
                    .orderPay,
                    .orderAddress,
                    .orderTotal {
                        width: 70%;
                        margin: 10px auto;
                    }
                }
                .MOL_Contentbox {
                    margin-left: -50px;
                    flex-direction: column;
                    font-size: 16px;
                    .orederNo,
                    .orderPay,
                    .orderAddress,
                    .orderTotal {
                        // border: 1px solid green;
                        width: 100%;
                        margin: 10px auto;
                        text-align: left;
                    }
                }
            }
        }
    }
    .MOL_Intextbox {
        display: flex;
    }
}

//訂單明細
.memOrderContent {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}
.MOC_title {
    text-shadow: 0 0 0.3em purple, 0 0 0.3em purple, 0 0 0.3em purple;
    margin-bottom: 20px;
}
.MOC_bottomContent {
    display: flex;
    @include textShadowMem;
    .proReview,
    .proNo,
    .proName,
    .proNumber,
    .proPrice {
        display: flex;
        flex-direction: column;
        // border: 1px solid yellow;
        width: 20%;
        .proTitle {
            font-size: 22px;
            text-shadow: 0 0 0.3em blue, 0 0 0.3em blue, 0 0 0.3em blue;
        }
        .proContent {
            // border: 1px solid purple;
            margin: 30px auto 0 auto;
            .proContentPic {
                width: 30%;
                margin: 0 auto;
                img {
                    // border: 1px solid red;
                    width: 100%;
                    margin-top: -20px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .MOC_bottom {
        .MOC_bottomContent {
            .proReview,
            .proNo,
            .proName,
            .proNumber,
            .proPrice {
                .proTitle {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .MOC_bottomContent {
        flex-direction: column;
        width: 100%;
        .proReview,
        .proNo,
        .proName,
        .proNumber,
        .proPrice {
            width: 100%;
            flex-direction: row;
            align-items: center;
            margin: 10px auto;
            .proTitle {
                width: 30%;
                text-align: right;
                // border: 1px solid red;
            }
            .proContent {
                width: 70%;
                margin: 0;
            }
        }
    }
}

//-------個人資料------
.memInfo {
    display: flex;
    @include textShadowMem;
}
.memInfoLeft {
    // border: 1px solid red;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}
.memInfoRight {
    // border: 1px solid black;
    width: 60%;
}

.memheadBox {
    // border: 1px solid blue;
    position: relative;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    .memhead {
        // border: 1px solid red;
        width: 100%;
        border-radius: 50%;
        overflow: hidden;
        img {
            // border: 1px solid pink;
            width: 100%;
        }
    }
    .memheadCG {
        cursor: pointer;
        // border: 1px solid black;
        // background: rgba(0, 0, 0, 0.5);
        background: rgba(255, 255, 255, 0.5);
        width: 15%;
        // height: 15%;
        margin: 0 auto;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        bottom: 0;
        right: 10%;
        box-shadow: 0 0 0.4em white, 0 0 0.4em white, 0 0 0.4em white;
        label {
            // border: 1px solid purple;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}
.memInfoLeft {
    .memPoint {
        text-align: center;
        // margin: 10px auto;
    }
}

.memInfoFormOut {
    width: 100%;
    padding: 30px;
    .memInfoForm {
        width: 100%;
        form {
            width: 100%;
            table {
                width: 100%;
                .MIF_Data {
                    width: 100%;
                    display: flex;
                    line-height: 2rem;
                    margin: 20px;
                    .MIF_Left {
                        width: 25%;
                    }
                    .MIF_Right {
                        width: 50%;
                    }
                }
                .memInfoBtn {
                    text-align: center;
                    .membtn {
                        margin: 0 auto;
                        width: 50%;
                        text-shadow: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.MIF_Data input {
    box-shadow: 0 0 0.2em rgb(211, 211, 65), 0 0 0.4em rgb(214, 29, 183), 0 0 0.3em #5f93c4;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .memheadBox {
        // .memhead{
        //   img {
        //   }
        // }
        .memheadCG {
            i {
                font-size: 20px;
                margin-top: -10px;
                margin-left: -10px;
            }
        }
    }
}
@media (max-width: 992px) {
    .memheadBox {
        // .memhead{
        //   img {
        //   }
        // }
        .memheadCG {
            i {
                font-size: 18px;
                margin-top: -8px;
                margin-left: -8px;
            }
        }
    }

    .memInfoFormOut {
        padding: 0px;

        .memInfoForm {
            width: 90%;
            margin: 0 auto;
        }
    }
}
@media (max-width: 768px) {
    .memheadBox {
        // .memhead{
        //   img {
        //   }
        // }
        .memheadCG {
            i {
                font-size: 16px;
            }
        }
    }

    .memInfoOut {
        h5 {
            font-size: 16px;
        }
    }
    .memInfoRight {
        .memInfoFormOut {
            .memInfoForm {
                width: 100%;
                .MIF_Data {
                    margin: 5px 0px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .memheadBox {
        // .memhead{
        //   img {
        //   }
        // }
        .memheadCG {
            i {
                font-size: 20px;
                margin-top: -10px;
                margin-left: -10px;
            }
        }
    }
    .memInfoRight {
        width: 90%;
        .memInfoFormOut {
            .memInfoForm {
                .MIF_Data {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .memInfo {
        flex-direction: column;
        align-items: center;
        .memInfoLeft {
            width: 90%;
        }
    }
}

//警示燈箱
.alertLightbox_black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.alertLightboxWrapper {
    position: absolute;
    background-color: #d1bee8;
    box-shadow: 0 0 0.4em ivory;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 300px;
    align-items: center;
    font-size: 18px;
    @media screen and (max-width: 576px) {
        width: 300px;
        height: 300px;
    }
}
.alertLightbox {
    // padding: 60px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: ivory;
    // height: 100%;
    @include textShadowMem;

    @media screen and (max-width: 576px) {
        padding: 60px 50px 40px 50px;
    }

    div:first-child {
        font-weight: bold;
        margin: 70px auto;
        // margin-top: 170px;

        @media screen and (max-width: 576px) {
            margin-top: 94px;
        }
    }

    div:nth-child(2) {
        background-color: purple;
        border-radius: 10px;
        width: 50%;
        // overflow: hidden;
        padding: 8px 10px 6px 10px;
        cursor: pointer;
    }
}

////////
.num_icon {
    // display: block;
    cursor: pointer;
    position: absolute;
    top: 50px;
    // right: 40px;
    right: 2.7%;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #dc52ffc0;
    text-shadow: 0 0 0.2em #87f, 0 0 0.2em #87f, 0 0 0.2em #87f;
    color: #ffffff;
    font-weight: bold;
    line-height: 16px;
    z-index: 999;
    font-size: 18px;
    @media (max-width: 701px) {
        right: 12%;
        top: 6%;
    }
    @media (max-width: 570px) {
        right: 14%;
    }
    @media (max-width: 376px) {
        right: 17%;
        top: 6.5%;
    }
    .num_text {
        // border: 1px solid red;
        text-align: center;
        cursor: pointer;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 25%;
    }
}
// body {
//     position: relative;
// }
// scroll更改header背景色
.-icon {
    position: sticky;
    top: 50px;
    left: 96%;
    @media (max-width: 1323px) {
        left: 95.5%;
    }
    @media (max-width: 1049px) {
        left: 95%;
    }
    @media (max-width: 833px) {
        left: 94.5%;
    }
    @media (max-width: 701px) {
        left: 85%;
    }
    @media (max-width: 626px) {
        left: 84%;
    }
    @media (max-width: 561px) {
        left: 83%;
    }
    @media (max-width: 518px) {
        left: 82%;
    }
    @media (max-width: 501px) {
        left: 81.5%;
    }
    @media (max-width: 376px) {
        left: 77.5%;
    }
}
