@import '../style';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: radial-gradient(
        100% 100% at bottom center,
        #f7f7b6,
        #e96f92,
        #75517d,
        #1b2947
    );
    background: radial-gradient(
        100% 100% at top center,
        #1b2947 10%,
        #75517d 40%,
        #e96f92 65%,
        #f7f7b6
    );
    background-attachment: fixed;
    overflow-x: hidden;

    // height: 500px;
}

div.done_big_box {
    width: 65%;
    display: flex;
    margin: 15px auto;
    padding: 15px;
}
div.done_box {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-evenly;
}
div.girl_box {
    border: 1px solid red;
}
div.girl {
    width: 34%;
}
div.done_text_box {
    font-size: 32px;
    color: #ffffff;
    text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
    padding: 30px;
    line-height: 50px;
}
div.back > a {
    background-color: #ffffff;
    color: #863186;
    padding: 3px 10px 3px 10px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
    text-decoration: none;
    font-size: 24px;
}
div.back {
    padding: 0 30px 0 30px;
}

//RWD
@media (max-width: 768px) {
    div.done_text_box {
        font-size: 26px;
    }
}
@media (max-width: 575px) {
    div.done_big_box {
        flex-direction: column;
        width: 80%;
    }
    div.girl {
        width: 50%;
        margin: 0 auto;
    }
    div.done_box {
        width: 80%;
        margin: 0 auto;
        align-items: center;
    }
    div.back > a {
        font-size: 18px;
    }
    div.backIndex_box {
        margin: 0 auto;
    }
}

// =================================================================
.star,
.planet {
    border-radius: 100%;
    position: absolute;
    display: block;
}

.star {
    animation: twinkle 2s linear 0s infinite normal;
    background: #f6f6f6;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.planet {
    animation: twinkle 5s linear 0s infinite normal;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    z-index: 2;
    left: 300%;
    top: 300%;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
