@import '../style.scss';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: radial-gradient(
        100% 100% at bottom center,
        #f7f7b6,
        #e96f92,
        #75517d,
        #1b2947
    );
    background: radial-gradient(
        100% 100% at top center,
        #1b2947 10%,
        #75517d 40%,
        #e96f92 65%,
        #f7f7b6
    );
    background-attachment: fixed;
    overflow-x: hidden;

    // height: 500px;
}

// 卷軸
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1b2947;
}
div.done_big_box {
    width: 65%;
    display: flex;
    margin: 15px auto;
    padding: 15px;
    min-height: calc(100vh - 180px);
    @media (max-width: 575px) {
        flex-direction: column;
        width: 80%;
    }
    .girl {
        width: 34%;
        @media (max-width: 575px) {
            width: 50%;
            margin: 0 auto;
        }
    }
    .done_box {
        width: 66%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        @media (max-width: 575px) {
            width: 80%;
            margin: 0 auto;
            align-items: center;
        }
        .done_text_box {
            font-size: 32px;
            color: #fff;
            text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
            padding: 30px;
            line-height: 50px;
            @media (max-width: 768px) {
                font-size: 26px;
            }
        }
    }
}

// div.back > a {
//     box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
//     padding: 5px 10px 5px 10px;
//     text-align: center;
//     text-decoration: none;
//     font-size: 22px;
//     background-color: #f33494;
//     border-radius: 15px;
//     border: 1px solid palevioletred;
//     color: #fff;
// }
// div.back {
//     padding: 0 30px 0 30px;
// }

// =================================================================
.star,
.planet {
    border-radius: 100%;
    position: absolute;
    display: block;
}

.star {
    animation: twinkle 2s linear 0s infinite normal;
    background: #f6f6f6;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.planet {
    animation: twinkle 5s linear 0s infinite normal;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    z-index: 2;
    left: 300%;
    top: 300%;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
