@import '../style.scss';

* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background: radial-gradient(
        100% 100% at bottom center,
        #f7f7b6,
        #e96f92,
        #75517d,
        #1b2947
    );
    background: radial-gradient(
        100% 100% at top center,
        #1b2947 10%,
        #75517d 40%,
        #e96f92 65%,
        #f7f7b6
    );
    background-attachment: fixed;
    overflow-x: hidden;

    // height: 500px;
}

// 卷軸
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background: #75517d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1b2947;
}
div.done_big_box {
    width: 65%;
    display: flex;
    margin: 15px auto;
    padding: 15px;
    min-height: calc(100vh - 180px);
    @media (max-width: 575px) {
        flex-direction: column;
        width: 80%;
    }
    .girl {
        width: 40%;
        animation: girl 5s linear infinite;
        @media (max-width: 575px) {
            width: 70%;
            margin: 0 auto;
        }
        img {
            width: 100%;
        }

        @keyframes girl {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(50px);
            }
            100% {
                transform: translateY(0px);
            }
        }
    }
    .done_box {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        @media (max-width: 575px) {
            width: 80%;
            margin: 0 auto;
            align-items: center;
        }
        .done_text_box {
            font-size: 32px;
            color: #fff;
            text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
            padding: 30px;
            // margin-right: 50px;
            line-height: 50px;
            @media (max-width: 768px) {
                font-size: 26px;
            }
        }
        // .btn {
        //     margin-left: 70px;
        // }
    }
}

// div.back > a {
//     box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
//     padding: 5px 10px 5px 10px;
//     text-align: center;
//     text-decoration: none;
//     font-size: 22px;
//     background-color: #f33494;
//     border-radius: 15px;
//     border: 1px solid palevioletred;
//     color: #fff;
// }
// div.back {
//     padding: 0 30px 0 30px;
// }

// =================================================================
.star,
.planet {
    border-radius: 100%;
    position: absolute;
    display: block;
}

.star {
    animation: twinkle 2s linear 0s infinite normal;
    background: #f6f6f6;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.planet {
    animation: twinkle 5s linear 0s infinite normal;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    z-index: 2;
    left: 300%;
    top: 300%;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

//

.bubble {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    z-index: -1;
    transform: translateZ(0);
}

.bubble li:nth-child(1) {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s linear infinite;
    @media (max-width: 575px) {
        top: 30%;
        width: 40px;
        height: 40px;
    }
}
.bubble li:nth-child(2) {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s 0.5s linear infinite;
    @media (max-width: 575px) {
        top: 30%;
        width: 40px;
        height: 40px;
    }
}

.bubble li:nth-child(3) {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s 1s linear infinite;
    @media (max-width: 575px) {
        top: 30%;
        width: 40px;
        height: 40px;
    }
}

.bubble li:nth-child(4) {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s linear infinite;
    @media (max-width: 575px) {
        left: 15%;
    }
}
.bubble li:nth-child(5) {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s 0.5s linear infinite;
    @media (max-width: 575px) {
        left: 15%;
    }
}
.bubble li:nth-child(6) {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 10%;
    top: 70%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s 1s linear infinite;
    @media (max-width: 575px) {
        left: 15%;
    }
}

.bubble li:nth-child(7) {
    width: 78px;
    height: 78px;
    position: absolute;
    right: 5%;
    top: 90%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s linear infinite;
    @media (max-width: 575px) {
        right: 3%;
    }
}
.bubble li:nth-child(8) {
    width: 78px;
    height: 78px;
    position: absolute;
    right: 5%;
    top: 90%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s 0.5s linear infinite;
    @media (max-width: 575px) {
        right: 3%;
    }
}
.bubble li:nth-child(9) {
    width: 78px;
    height: 78px;
    position: absolute;
    right: 5%;
    top: 90%;
    transform: translate(-50%, -50%);
    animation: breath 1.5s 1s linear infinite;
    @media (max-width: 575px) {
        right: 3%;
    }
}

@keyframes breath {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

body {
    background: linear-gradient(#000005, #050520);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.star,
.planet {
    border-radius: 100%;
    position: absolute;
    display: block;
}

.star {
    animation: twinkle 2s linear 0s infinite normal;
    background: #f6f6f6;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.planet {
    animation: twinkle 5s linear 0s infinite normal;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    z-index: 2;
    left: 300%;
    top: 300%;
}

.moon {
    box-shadow: inset 0px 0px 50px 1px #6d8f94,
        0px 0px 80px 30px rgba(143, 189, 255, 0.7);
    box-shadow: inset 16px 0px rgba(0, 0, 0, 0.05),
        inset 16px 0px 1px 2px rgba(0, 0, 0, 0.05),
        0px 0px 75px 0px rgba(255, 255, 255, 0.5);
    background: linear-gradient(
        325deg,
        rgba(213, 211, 230, 1) 0%,
        rgba(179, 179, 179, 1) 100%
    );
    transform: rotate(35deg);
    border-radius: 100%;
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 4;
    right: 10%;
    top: 15%;
    @media (max-width: 575px) {
        height: 100px;
        width: 100px;
    }
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
