* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
body {
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background: radial-gradient(
        100% 100% at bottom center,
        #f7f7b6,
        #e96f92,
        #75517d,
        #1b2947
    );
    background: radial-gradient(
        100% 100% at top center,
        #1b2947 10%,
        #75517d 40%,
        #e96f92 65%,
        #f7f7b6
    );
}

// 標題
div.confirm_title_box {
    width: 60%;
    text-align: left;
    margin: 20px auto;
}
div.confirm_title {
    font-size: 28px;
    width: 60%;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 0.2em #ff0000, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
}

// 內容
div.cartpro_box {
    width: 90%;
    display: flex;
    margin: 0 auto;
}
div.delete_box {
    width: 6%;
}
div.cartpro_a_box {
    width: 65%;
    display: flex;
    margin: 50px auto;

    background-color: #ffffff2f;
    padding: 20px 15px;
    border: 1px solid #ffffff2f;
    border-radius: 30px;
}
div.crystalball_left_box {
    width: 20%;
}
div.crystalball_right_box {
    width: 80%;
    padding: 10px;
}
div.crystalball_name_box {
    width: 30%;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0 0 0.2em #f57af5, 0 0 0.2em #f57af5, 0 0 0.2em #f57af5;
}

div.pro_complete_price_box > img {
    width: 30px;
}
div.pro_complete_price_box {
    display: flex;
    width: 18%;
    text-align: right;
}
div.crystalball_priceAmount_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
div.crystalball_text {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}
div.pro_complete_price_box {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
}
div.pro_complete_price {
    margin-left: 20px;
    margin-top: 5px;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}

// 總額

div.total_photoandtext > img {
    width: 30px;
}
div.total_photoandtext {
    font-size: 20px;
    align-items: center;
    color: #ffffff;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}
div.total_box {
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    // text-align: right;

    justify-content: flex-end;
}

div.total_text {
    font-size: 18px;
    color: #ffffff;
    margin-left: 20px;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}

// 付款方式
div.pay_type_box {
    width: 90%;

    margin: 0 auto;
}
div.pay_box {
    width: 65%;
    display: flex;
    margin: 0 auto;
    padding: 30px 0 30px 0;

    font-size: 20px;
    color: #ffffff;
    align-items: center;
    text-shadow: 0 0 0.3em #863186, 0 0 0.3em #863186, 0 0 0.3em #863186;
}
select.type_choose {
    width: 20%;
    margin-left: 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #863186;
    padding: 3px;
}

div.deliver_box {
    width: 60%;
    margin: 0 auto;
}

//上下步

div.back_next_box {
    display: flex;
    width: 60%;
    margin: 20px auto 10px auto;
    justify-content: space-between;
}
//上一步

div.backText {
    background-color: #ffffff;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
}
div.backText > a {
    text-decoration: none;
    color: #863186;
}
// 下一步

div.nextText {
    background-color: #ffffff;
    padding: 5px 15px 5px 15px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 15px;
}
div.nextText > a {
    text-decoration: none;
    color: #863186;
}

.star,
.planet {
    border-radius: 100%;
    position: absolute;
    display: block;
}

.star {
    animation: twinkle 2s linear 0s infinite normal;
    background: #f6f6f6;
    z-index: 1;
    left: 100%;
    top: 100%;
}

.planet {
    animation: twinkle 5s linear 0s infinite normal;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    z-index: 2;
    left: 300%;
    top: 300%;
}

.moon {
    box-shadow: inset 0px 0px 50px 1px #6d8f94,
        0px 0px 80px 30px rgba(143, 189, 255, 0.7);
    box-shadow: inset 16px 0px rgba(0, 0, 0, 0.05),
        inset 16px 0px 1px 2px rgba(0, 0, 0, 0.05),
        0px 0px 75px 0px rgba(255, 255, 255, 0.5);
    background: linear-gradient(
        325deg,
        rgba(213, 211, 230, 1) 0%,
        rgba(179, 179, 179, 1) 100%
    );
    transform: rotate(35deg);
    border-radius: 100%;
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 4;
    right: 10%;
    top: 10%;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
