#price,
#name,
#number {
    color: rgb(255, 255, 255);
}

#step1 {
    text-align: center;
}

.highlight {
    position: relative;
}

h4 {
    font-size: 24px;
    width: 60%;
    margin: 20px auto 10px auto;
    color: #ffffff;
    text-align: left;
    text-shadow: 0 0 0.2em #ff0000, 0 0 0.2em #ca4cca, 0 0 0.2em #ca4cca;
}

.btn-info {
    float: right;
    background-color: #ffffff;
    color: #863186;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 5px;
}

.btn-light {
    width: 150px;
    height: 130px;
    padding: 20px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 20px;
}

.btn-light:hover {
    background-color: #bd7fd6;
    color: white;
}

.btn-light > img {
    width: 61px;
    height: auto;
    margin-bottom: 10px;
}

.allBtn {
    /* border: 1px solid blue; */
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 50px;
    margin-right: 50px;
}

#goS2,
#goS3 {
    float: right;

    /* margin-bottom: 120px; */
    background-color: #ffffff;
    color: #863186;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 5px;
}

#goS1 {
    margin: 0 auto;
}

input[type='text'],
input[type='email'] {
    border-radius: 3px;
    border: 1px solid darkgray;
}

select {
    width: 100px;
}

.pay_creditCard_number > input {
    width: 60px;
}

#myInput {
    width: 180px;
}

p {
    margin-bottom: 0;
}

.pay_check {
    margin-left: 20px;
}

#myForm {
    line-height: 28px;
}

.with-errors {
    font-size: 14px;
    color: brown;
}

ul {
    margin-bottom: 0;
}

.down {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: #ca4cca;
}

.finish {
    text-align: center;
}

.btnActive {
    background-color: #ca4cca;
    color: white;
}

#end2 > div > span,
#end2 > div > p {
    font-size: 14px;
}

.creditcard {
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-top: -150px;
    margin-left: -250px;
    background-color: rgb(255, 255, 255);
}

.ATM {
    width: 500px;
    margin: 0 auto;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    margin-top: -190px;
    margin-left: -250px;
    background-color: rgb(255, 255, 255);
}

.pay_close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 3px;
}

.pay_close img {
    width: 100%;
}

.card-inf,
.ATM_inf {
    width: 40%;
    margin: 0 auto 20px auto;

    font-size: 24px;
    color: #ffffff;
    line-height: 50px;
    text-shadow: 0 0 0.2em #863186, 0 0 0.2em #863186, 0 0 0.2em #863186;
    @media (max-width: 1200px) {
        width: 70%;
        margin: 0 auto;
    }
    @media (max-width: 500px) {
        width: 80%;
        font-size: 18px;
    }
    @media (max-width: 376px) {
        width: 90%;
    }
}

.pay-type {
    margin: 0 auto;
    /* border: 1px solid blue; */
    width: 345px;
    text-align: center;
    margin-bottom: 30px;
}

.close-atm {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 3px;
}

.close-atm img {
    width: 100%;
}

#allGo {
    display: block;
    margin: 0 auto 20px auto;
    background-color: #ffffff;
    color: #863186;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border: 3px solid #863186;
    border-radius: 10px;
    font-size: 18px;
    width: 4%;
    cursor: pointer;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

.table {
    line-height: 40px;
}

@media only screen and (min-width: 863px) and (max-width: 995px) {
    .col-lg-4 {
        display: none;
    }
}

@media only screen and (min-width: 402px) and (max-width: 862px) {
    .mydiv {
        margin-top: 0 !important;
        padding: 0;
    }

    .col-lg-4 {
        display: none;
    }
    h4 {
        width: 80%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 401px) {
    .mydiv {
        margin-top: 0 !important;
        padding: 0;
    }

    .col-lg-4 {
        display: none;
    }
}
