@import '../style';

@mixin titleStyle{
    font-weight: $fontWeight;
    letter-spacing: $titleLetterSpacing;
    margin: 10px;
}
@mixin paraStyle{
    font-size: $p;
    letter-spacing: $paraLetterSpacing;
    line-height: $lineHeight;
    margin: 10px;
}
@mixin starPercent{
    font-family: none;
    &::before{
        content: "★★★★★";
        position: absolute;
        overflow: hidden;
        z-index: 1;
        left: 0px;
        top: 0px;
        color: gold;
        text-shadow: 0 0 0.1em #fff;
    }
    &::after{
        content: "★★★★★";
        position: relative;
        color: #ccc;
        text-shadow: 0 0 0.1em #bebebe;
    }
    &:NOT([data-percent])::before, &[data-percent="0"]::before{
        display: none;
    }
    &[data-percent="10"]::before{
        width: 10%;
    }
    &[data-percent="20"]::before{
        width: 20%;
    }
    &[data-percent="30"]::before{
        width: 30%;
    }
    &[data-percent="40"]::before{
        width: 40%;
    }
    &[data-percent="50"]::before{
        width: 50%;
    }
    &[data-percent="60"]::before{
        width: 60%;
    }
    &[data-percent="70"]::before{
        width: 70%;
    }
    &[data-percent="80"]::before{
        width: 80%;
    }
    &[data-percent="90"]::before{
        width: 90%;
    }
    &[data-percent="100"]::before{
        width: 100%;
    }
}


header{
    margin-top: -105px;
}
.bg{
    background: {
        image: url("./../img/teacher/single_bg.png");
        repeat: no-repeat;
        size: cover;
    }
    .section01{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 700px){
            height: 100%;
            padding: 100px 0;
        }
        .container{
            // border: 1px solid rgb(0, 238, 255);
            display: flex; 
            align-items: center;
            justify-content: center; 
            width: 95%;
            @media screen and (max-width: 700px){
                flex-direction: column;
            }
            .tr{
                // border: 1px solid greenyellow;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @media screen and (max-width: 700px){
                    margin-top: 50px;
                }
                .img{
                    position: relative;
                    img{
                        // border: 1px solid steelblue;
                        position: relative;
                        width: 100%;
                        min-width: 250px;
                        animation: float 2.5s infinite;
                        @media screen and (max-width: 700px){
                            width: 95%;
                        }
                        @media screen and (max-width: 476px){
                            min-width: 200px;
                            width: 85%;
                        }
                    }
                    .shadow{
                        width: 315px;
                        height: 25px;
                        position: absolute;
                        left: 35px;
                        bottom: -15px;
                        border-radius: 50%;
                        background-color: #171717;
                        box-shadow: 0 0 6px 8px #171717;
                        opacity: 40%;
                    }
                }
            }
            .wrapper{
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                @media screen and (max-width: 700px){
                    margin: 0;
                    margin-top: 50px;
                    text-align: center;
                }
                .intro{
                    width: 100%;
                    max-width: 600px;
                    h3{
                        color: #fff;
                        font-size: $h3;
                        @include titleStyle;
                        text-shadow: 0 0 0.6em #6600b4;
                    }
                    .star{
                        // border: 1px solid tomato;
                        display: inline-block;
                        margin: 10px;
                        position: relative;
                        font-size: 45px;
                        @include starPercent;
                        // transform: rotate(5deg);
                        @media screen and (max-width: 700px){
                            font-size: 40px;
                        }
                    }
                    p{
                        color: #fff;
                        @include paraStyle;
                        margin-top: 20px;
                        height: 60px;
                    }
                }
            }
        }
    }
    .section02{
        // border: 1px solid rgb(0, 238, 255);
        height: 100vh;
        @media all and (max-width: 976px){
            height: 100%;
        }
        .title{
            text-align: center;
            h2{
                color: #fff;
                font-size: $h3;
                @include titleStyle;
                text-shadow: 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3;
                margin: 20px;
            }
        }
        .wrapper{
            // border: 1px solid blueviolet;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 40px;
            .card{
                // border: 1px solid red;
                position: relative;
                margin: 20px;
                transition: all 1s;
                &:hover{
                    transform: translateY(-30px);
                    transition: all 0.4s ease-out;
                }
                &:hover > img{
                    box-shadow: 0 0 0.4em rgb(127, 75, 196);
                    transition: all 0.4s ease-out;
                }
                .title{
                    text-align: center;
                    h3{
                        color: #e1be4c;
                        font-size: $h3;
                        @include titleStyle;
                        // text-shadow: 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3;
                        margin: 20px;
                    }
                }
                .info{
                    // border: 1px solid red;
                    position: absolute;
                    bottom: 100px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: #e1be4c;
                    @include paraStyle;
                    font-size: $h5;
                    line-height: 1.6;
                }
                img{
                    border-radius: 15px;
                }
                .shadow{
                    width: 250px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #171717;
                    box-shadow: 0 0 6px 8px #171717;
                    opacity: 25%;
                    margin-top: 25px;
                }
            }
        }
    }
    .section03{
        // border: 1px solid rgb(0, 238, 255);
        position: relative;
        @media (max-width: 976px){
            height: 100%;
        }
        .title{
            text-align: center;
            h2{
                color: #fff;
                font-size: $h3;
                @include titleStyle;
                text-shadow: 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3, 0 0 0.4em #6f00c3;
                margin: 20px;
            }
        }
        .container{
            // border: 1px solid purple;
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .comm_card{
                // border: 1px solid wheat;
                display: flex;
                justify-content: flex-start;
                border-radius: 10px;
                width: 500px;
                height: 155px;
                margin: 20px;
                background-color: #7200ca47;
                box-shadow: 0 0 0.4em #dfb5ff, 0 0 0.05em #ae6ae3;
                transition: all 0.6s ease;
                &:hover{
                    transform: scale(0.98);
                    transition: all 0.3s ease;
                }
                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 15px;
                    width: 20%;
                    min-width: 140px;
                .avatar{
                        // border: 1px solid teal;
                        border-radius: 50%;
                        width: 80px;
                        height: 80px;
                        overflow: hidden;
                    } 
                    p{
                        // border: 1px solid peru;
                        color: #fff;
                        @include paraStyle;
                    }
                }
                .comm{
                    // border: 1px solid red;
                    width: 75%;
                    margin: 15px;
                    margin-left: 0;
                    .star{
                        // border: 1px solid blue;
                        display: inline-block;
                        width: 125px;
                        position: relative;
                        font-size: 28px;
                        margin: 10px;
                        @include starPercent;
                    }
                    .text{
                        // border: 1px solid skyblue;
                        color: #fff;
                        @include paraStyle;
                        margin-top: 15px;
                        height: 70px;
                    }
                }
                .report{
                        // border: 1px solid red;
                        padding: 20px;
                        .report_btn{
                            // border: 1px solid blueviolet;
                            cursor: pointer;
                            .fas{
                                color: #ffffffd6;
                                &:hover{
                                    opacity: 60%;
                                    transition: all 0.2s ease;
                                }
                            }
                        }
                }
            }
        }
        .lightbox{
            // border: 1px solid red; 
            background-color: $purple;
            // width: 25%;
            height: 170px;
            padding: 70px;
            border-radius: 5px;
            margin: 0 auto;
            position: absolute;
            z-index: 2;
            width: 20%;
            min-width: 280px;
            top: 0;  
            left: 0; 
            right: 0;
            box-shadow: 0px 5px 30px -6px #0000004f;
            span{
                color: #fff;
                position: absolute;
                top: 10px;
                right: 15px;
                cursor: pointer;
                font-size: 28px;
                font-family: monospace;
                &:hover{
                    opacity: 60%;
                    transition: all 0.2s ease;
                }
            }
            .lightbox_text{
                text-align: center;
                h4{
                    @include titleStyle();
                    font-size: $h4;
                    color: #fff;
                }
                p{
                    @include paraStyle();
                    color: #fff;
                }
                select{
                    opacity: 90%;
                    border-radius: 3px;
                    border: 1px solid #fff;
                    background-color: white;
                    color: #351360;
                    padding: 7px;
                    width: 130px;
                }
                button{
                    @include btnWhite();
                    transform: scale(0.9);
                    margin-top: 40px;
                    box-shadow: 0 0 transparent;
                    text-shadow: 0 0 transparent;
                    width: 120px;
                    height: 40px;
                    .fas{
                        margin: 6px;
                    }
                }
            }
        }
        .lightbox_container{
            // border: 1px solid blueviolet;
            // height: 100vh;
            // width: 100%;
            position: absolute;
            background-color: #00000061;
            // margin-top: -480px;
            z-index: 1;
        }
        .btn{
            // border: 1px solid darkblue;
            width: 70%;
            margin: 0 auto;
            text-align: right;
            .btn-purple {
                @include btnPurple();
                box-shadow: 0 0 0 0 ;
            }
        }
    }
}

// 動畫keyframes
// 漂浮
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{        
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}
// 閃星星
@keyframes caret {
	50% { color: transparent }
}
// 移動
@keyframes move {
    0%{
        transform: translateX(-1200px);
    }
    100%{
        transform: translateX(1000px);
    }
}