//  color 顏色 
$purple: #58009a;
$purplered: #742274;
$darkpurple: #351360;
$orange: #ffa500;
$yellow: #ffd02e;

$lightpurple: #7540e2;
$lightyellow: #ffffaa;
$white: #fff;
$darkgray: #191925; // footer bgcolor

//  font 字體 
$navFont: '思源宋體';  // 這是導覽列的字體，其餘皆使用已預設的微軟正黑體

$p: 14px;
$h1: 48px;
$h2: 36px;
$h3: 28px;
$h4: 24px;
$h5: 18px; 

// $title
$letterSpacing: 3px;
$lineHeight: 10px;

//  button 按鈕 
@mixin btnPurple{
    background-color: $purple;
    color: #fff;
    width: 140px; 
    height: 48px;  
    border: 1px solid transparent;
    outline: none;
    border-radius: 25px; 
    font-size: $h5;
    font-weight: 400;
    letter-spacing: $letterSpacing;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0.2em #87f, 0 0 0.2em #87f, 0 0 0.2em #87f;
    margin: 20px 30px;
    cursor: pointer;
    &:hover{
        background-color: lighten($purple, 8%);
        transition: background-color .2s;
    }
}
