.btn-wrapper {
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 50%;
    /* border: 1px solid blue; */
    position: relative;
    margin: 0 auto;
}

.star-svg {
    fill: #254355;
    transition: opacity 0.3s ease-out;
}

[data-name='outer-stroke'],
[data-name='center-star-stroke'],
[data-name='center-star-fill'] {
    fill: inherit;
}

.Btn {
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 40px;
    margin-top: -20px;
    margin-left: -50px;
    background-color: #f33494;
    border-radius: 15px;
    border: 1px solid palevioletred;
    color: #fff;
    font-size: 20px;
    /* display: none; */
}
